<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
	<li>
		<a href="/">首页</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>
		<a href="/events">News</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>
		<a href="/presses">Press Releases</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>
		<%= @press.title %>
	</li>
</ul>
<div class="self_clear">
	<div id="secondary_content" class="hide_from_print">
		<div id="cs_control_3131" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_contentleft">
				<a name="customcf5441" id="customcf5441"></a>
				<a name="CP_JUMP_5441" id="CP_JUMP_5441"></a>
				<div id="cs_control_5441" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_18094_5441"></div>
				</div>
				<a name="customcf5442" id="customcf5442"></a>
				<a name="CP_JUMP_5442" id="CP_JUMP_5442"></a>
				<div id="cs_control_5442" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_18094_5442">
						<div class="end_cap"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="dMainFBContest"></div>
	</div>
	<div id="primary_content" class="align_edges">
		<div id="cs_control_1329" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_content">
				<a name="custom1537" id="custom1537"></a>
				<a name="CP_JUMP_1537" id="CP_JUMP_1537"></a>
				<div id="cs_control_1537" class="cs_control CS_Element_Custom">
					<h1>
						<%= @press.title %>
					</h1>
					<p>
						<%= raw @press.cont %>
					</p>
					<div id="media_footer" class="round_corners color_f2f2f2">
						<div class="ctl"></div>
						<div class="ctr"></div>
						<div class="cbr"></div>
						<div class="cbl"></div>
						<p class="clear_margins"> <strong>Media Contact:</strong>
							Jean Fawcett &nbsp; <strong>Tel:</strong>
							800 554 7094 ext. 427 &nbsp;
							<strong>Email:</strong>
							<a href="mailto:jfawcett@xxx.com">jfawcett@xxx.com</a>
						</p>
					</div>
					<p>
						<a class="icon swirl_arrow" href="/presses">Back to Press Releases</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>