<div class="row">
<h3>后台管理 > 编辑brochure_destination <div class="pull-right"><%= link_to '查看', [:admin, @brochure_destination] %> |
<%= link_to '返回列表', admin_brochure_destinations_path %></div></h3>
<hr>

<%= render 'form' %>

</div>