body{
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 60px;
	font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small, .lead {
 
}

h3{
	font-size: 16px;
	line-height: 30px;
	margin: 0;
	padding: 0;
}

hr{margin: 10px 0 10px 0;}