/* Uni-Form by Dragan Babic  - http://dnevnikeklektika.com/ , http://draganbabic.com/ */ 
/* Some rights reserved - http://creativecommons.org/licenses/by-sa/2.5/ */
/* It is suggested not to edit this file directly, but rather the uni-form.css provided in the Uni-Form zip archive */

.uniForm{
  margin:0; padding:0;
  /*position:relative;*/
  width:100%;
  overflow:hidden;
}

  /* Some generals */
  .uniForm fieldset{
    border:none;
    /*margin:0; padding:0;*/
  }
    .uniForm fieldset legend{
      margin:0; padding:0;
    }

    .uniForm .ctrlHolder{ /* This is the main unit that contains our form elements */
      overflow:hidden;
      margin:0; padding:0;
      clear:both;
    }

    .uniForm .buttonHolder{
      overflow:hidden;
      clear:both;
    }
      .uniForm .resetButton{
      }
      .uniForm .submitButton{
      }
      .uniForm .deleteButton{
      }

    .uniForm .inlineLabel,
    .uniForm .inlineLabels .inlineLabel,
    .uniForm .blockLabels .inlineLabel{
      width:auto;
      float:none;
      margin:0 1em 0 0;
      display:inline;
    }
      .uniForm .inlineLabel input{
      }
    
    .uniForm .focused{ /* For highlighting the rows on input focus */
    }

    /* ########################################################################## */

    /* Styles for form controls where labels are in line with the input elements */
    /* Set the class of the parent (preferably to a fieldset) to .inlineLabels */
    .uniForm .inlineLabels .ctrlHolder{
    }
        .uniForm .inlineLabels label,
        .uniForm .inlineLabels .label{
          float:left;
          margin:.3em 2% 0 0; padding:0;
          line-height:100%;
          /*position:relative;*/
        }

        .uniForm .inlineLabels .textInput,
        .uniForm .inlineLabels .fileUpload{
          float:left;
        }
        .uniForm .inlineLabels .fileUpload{
        }
        
        .uniForm .inlineLabels .selectInput{
          float:left;
        }

        .uniForm .inlineLabels textarea{
          float:left;
        }

      .uniForm .inlineLabels .formHint{
        clear:both;
      }

        /* inlineLabels esthetics */
        .uniForm .inlineLabels .formHint strong{
        }


    /* ########################################################################## */

    /* Styles for form controls where labels are above the input elements */
    /* Set the class of the parent (preferably to a fieldset) to .blockLabels */
    .uniForm .blockLabels .ctrlHolder{
    }

      .uniForm .blockLabels label,
      .uniForm .blockLabels .label{
        display:block;
        float:none;
        margin:.3em 0; padding:0;
        line-height:100%;
        width:auto;
      }
      .uniForm .blockLabels .label{
        float:left;
        margin-right:3em;
      }

      .uniForm .blockLabels .inlineLabel{
        /*position:relative;*/
		top:.15em;
      }

      .uniForm .blockLabels .textInput,
      .uniForm .blockLabels .fileUpload{
        float:left;
      }
      .uniForm .blockLabels .fileUpload{
      }
      
      .uniForm .blockLabels .selectInput{
        display:block;
      }

      .uniForm .blockLabels textarea{
        float:left;
        display:block;
      }

      .uniForm .blockLabels .formHint{
        float:right;
        margin:0;
        clear:none;
      }

      /* blockLabels esthetics */
      .uniForm .blockLabels .ctrlHolder{
      }

      .uniForm .blockLabels .focused{
      }

    /* ########################################################################## */

    /* Focus pseudoclasses */
    .uniForm .ctrlHolder .textInput:focus{
    }
    .uniForm div.focused .textInput:focus{
    }
    .uniForm div.focused .formHint{
    }

    /* Required fields asterisk styling, use if needed */
    .uniForm label em,
    .uniForm .label em{
		float:right;
		color:red;
		font-weight:normal;
      /*display:block;
      position:absolute; left:100%;
      font-style:normal;
      font-weight:bold;*/
    }
    .uniForm .blockLabels label em,
    .uniForm .blockLabels .label em{
      position:static;
      display:inline;
    }

    /* ########################################################################## */

    /* Messages */
    .uniForm #errorMsg,
    .uniForm .error{
    }
      .uniForm #errorMsg dt,
      .uniForm #errorMsg h3{
      }
      .uniForm #errorMsg dd{
      }
        .uniForm #errorMsg ol{
        }
          .uniForm #errorMsg ol li{
          }
      .uniForm .errorField{
      }

    /* ########################################################################## */

    /* Add the following classes to your fieldsets (preferably) if you want columns */
    .uniForm .col{
      float:left;
    }
    .uniForm .columnLeft{
      float:left;
    }
    .uniForm .columnRight{
      float:right;
    }
@import "uni-form-generic.css";
/* Your styles below */
/* Keep in mind that wherever you see "Required property" it means that the property must exist, adjust it's value to your liking */

/* Generals */
p#requiredText{
  margin:0;
}
p#requiredText em{
  color:red;
}
.uniForm{
  font-size:1em;
}

.uniForm fieldset{
  padding:0;
  /*margin:1em 0;
  padding:15px 0;
   user prefs */          
  /*padding:0 0 10px 0;
  border-bottom:1px solid #efefef;*/
}
.uniForm fieldset legend{
  /*color:#979797;*/ /* Reset IE */
  color:#444;
  font-weight:bold; 
  font-size:1.3em;
}
.uniForm fieldset p{
  font-size:1em;
}

/*.uniForm fieldset > input + div,
.uniForm fieldset legend:first-child + div{
  border-top:1px solid #e4e5e6;
}
.uniForm fieldset div:last-child {
  border-bottom:1px solid #e4e5e6;
}*/

.uniForm .ctrlHolder{ /* This is the main unit that contains our form elements */
  padding:7px 0;
  /* The field labels for radio and checkbox groups are done differently so they do not take on the default color and appear as a lighter gray. */
  color:#333;
  /*background:#f4f4f4;*/
  /*border-bottom:1px solid #e4e5e6;*/
}

.uniForm .borderBottom{
  border-bottom:1px solid #e4e5e6;
}

.uniForm .borderTop{
  /*border-top:1px solid #e4e5e6;*/
}

.uniForm h3{
  border-bottom:1px solid #e4e5e6;
  padding-bottom:3px;
}

/* IE 6 hack to properly show error messages */
* * .ctrlHolder {
  zoom:1;
}
.uniForm .buttonHolder{
  text-align:right; /* Recommended */
  background:#f4f4f4;
  border:1px solid #e4e5e6;
  border-width:1px 0;
  margin:10px 0 0 0;
  padding:10px;
}
.uniForm .deleteButton{
  float:left;
}
.uniForm .focused{
  background:#FFFCDF; 
}

.uniForm label.required,
.uniForm .label.required {
  /*color:#00447c;
  color:#000;
  font-weight:bold;*/
}

/* .inlineLabels */
.uniForm .inlineLabels label,
.uniForm .inlineLabels .label{
  width:25%; /* Required property */
  font-size:1em;
}
.uniForm .inlineLabels .textInput,
.uniForm .inlineLabels .fileUpload{
  /*width:65%;*/ /* Required property
  color:#000; */
}
.uniForm .inlineLabels .selectInput{
  /*width:65%;*/ /* Required property
  color:#000; */
}
.uniForm .inlineLabels textarea{
  /*width:65%;*/ /* Required property
  color:#000;
  height:12em;  */
}
.uniForm .inlineLabels .formHint{
  margin-top:0;
  margin-left:27%;
  margin-bottom:0;
  /*color:#000;*/
}

.uniForm .inlineLabels .textOnly{
  margin:0 0 0 27%;
  /*color:#000;*/
}

.uniForm .inlineLabels .show_value{
  margin-left:27%;
    /*color:#000;*/
}

.uniForm .inlineLabels .indent{
  margin-left:27%;
  width:100%;
    /*color:#000;*/
}

/* .blockLabels */
.uniForm .blockLabels .textInput,
.uniForm .blockLabels .fileUpload{
  width:53%; /* Required property */
}

.uniForm .blockLabels .selectInput{
  display:block;
  width:53.5%; /* Required property */
}
.uniForm .blockLabels textarea{
  width:53%; /* Required property 
  height:12em; */
}
.uniForm .blockLabels .formHint{
  width:45%; /* Required property */
}

/* Columns */
.uniForm .col{
  width:47.9%; /* Required property */
  margin:0 2% 0 0; 
}
.uniForm .columnLeft{
  width:49%; /* Required property */
}
.uniForm .columnRight{
  width:49%; /* Required property */
}

/* Messages */
.uniForm #errorMsg{
  background:#ffdfdf;
  border:1px solid #df7d7d; border-width:1px 0;
  margin:0 0 1em 0; padding:1em;
}
.uniForm .error{
  /*background:#ffdfdf;*/
  background:url(/assets_global/media/images/uniForm/error.png) repeat;
  border:1px solid #df7d7d;
  border-width:1px 0;
}
.uniForm #errorMsg dt,
.uniForm #errorMsg h3{
  margin:0 0 .5em 0;
  font-size:1em;
  line-height:100%;
  font-weight:bold;
}
.uniForm #errorMsg dd{
  margin:0; padding:0;
}
.uniForm #errorMsg ol{
  margin:0; padding:0;
}
.uniForm #errorMsg ol li{
  margin:0; padding:2px;
  list-style-position:inside;
  border-bottom:1px dotted #df7d7d;
  /*position:relative;*/
}
.uniForm .errorField{
  margin:0 0 6px 0;
  padding:4px;
  background:#ffdfdf;
  /*color:#000;*/
  font-weight:bold;
  /*width:65%;*/
}

.uniForm .inlineLabels .errorField{
  margin-left:27%;
}

.uniForm .errorFieldHide{
  display:none;
}

/* OVERLIB STYLES */
#overDiv * {
  padding:1px;
}

div.overlib img {
  margin-right:.4em;
  float:right;
  display:inline;
}
/* END OVERLIB STYLES */