<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
	<li>
		<a href="/">首页</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>About Us</li>
</ul>
<div class="self_clear">
	<div id="secondary_content" class="hide_from_print">
		<div id="cs_control_3131" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_contentleft">
				<a name="custom12103" id="custom12103"></a>
				<a name="CP_JUMP_12103" id="CP_JUMP_12103"></a>
				<div id="cs_control_12103" class="cs_control CS_Element_Custom">
					<div class="hl3">Navigate By</div>

					<ul class="section cspot_nav">
						<li class="navigation_active icon bullet_arrow">
							<a href="/about_us/">About Us</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/about_us/history/">History</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/about_us/awards.cfm">Awards</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/about_us/global_reach.cfm">Global Reach</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/about_us/guides.cfm">Our Guides</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/about_us/ak_philanthropy/">Philanthropy</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/about_us/careers/">Careers at</a>
						</li>
					</ul>
				</div>
				<a name="customcf4702" id="customcf4702"></a>
				<a name="CP_JUMP_4702" id="CP_JUMP_4702"></a>
				<div id="cs_control_4702" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_10627_4702">
						<div class="end_cap"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="dMainFBContest"></div>
	</div>
	<div id="primary_content" class="align_edges">
		<div id="right_column_content" class="hide_from_print">
			<div id="cs_control_9506" class="">
				<div class="CS_Element_Schedule" title="" id="CS_Element_contentsupplemental"></div>
			</div>
		</div>
		<div id="cs_control_1329" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_content">
				<a name="textblocknohdr1352" id="textblocknohdr1352"></a>
				<a name="CP_JUMP_1352" id="CP_JUMP_1352"></a>
				<div id="cs_control_1352" class="cs_control CS_Element_Textblock">
					<div class="CS_Textblock_Text">
						<h1>The Difference</h1>
						<p> <strong><img class="float_right" title="About Us" alt="About Us" src="http://www.xxx.com/about_us/images/About_us_right.jpg" border="0" height="240" hspace="0" width="300">What sets  apart?</strong>
						</p>
						<p>
							At , we strive at every turn to redefine your notion of what is possible on a vacation. Our approach combines singular service — such as a private passage by road and lake through the Andes, or a maximum group size of only 12 guests on each Galápagos shore excursion — with insider-access opportunities unlike any you have experienced before.  lets you discover Machu Picchu through the eyes of its former resident archaeologist, and introduces you to Mayan culture firsthand, through an exclusive meeting with a Mayan family.
						</p>
						<p>
							In these and myriad other ways,  consistently goes above and beyond the call of duty — and no  journey is complete without that extra, unexpected "and" that makes your experience unique and unforgettable.
							<br>
							<br>
							Choose from a Luxury Small Group Journey, the finest group travel experience in the world; a Connections journey, which combines ’s renowned service with unbeatable value; A Marco Polo Club Invitational Journey to an exotic locale; a private Signature Series itinerary; or a custom independent journey created just for you. When it comes to discovering the world, the possibilities are endless.
							<br></p>
						<p>
							Making these extraordinary journeys possible are the handpicked experts in our 50 offices worldwide, on call around the clock. Chief among them are our resident  Tour Directors and local guides. The Tour Director leads each group departure, providing unmatched on-the-ground expertise with  local guides contributing along the way.
						</p>
						<p>
							With expertise in not only luxury but culture, wildlife and history as well,  reveals your destination with an authenticity beyond the reach of any other travel company.
						</p>
					</div>
				</div>
				<a name="tbsimplenohdr15918" id="tbsimplenohdr15918"></a>
				<a name="CP_JUMP_15918" id="CP_JUMP_15918"></a>
				<div id="cs_control_15918" class="cs_control CS_Element_Textblock">
					<div class="CS_Textblock_Text">
						<div class="self_clear" style="margin-bottom:25px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>