<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
	<li>
		<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=20" addthis:ui_click="true">
			<img src="/assets/images/graphics/addthis.gif" width="90" height="11"></a>
	</li>
	<li>
		<a href="/">首页</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>
		<a href="/marcopoloclub/">Marco Polo Club</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>Member Benefits</li>
</ul>
<div class="self_clear">
	<div id="secondary_content" class="hide_from_print">
		<div id="cs_control_3131" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_contentleft">
				Error in element (see logs)
				<br>
				<a name="customcf3215" id="customcf3215"></a>
				<a name="CP_JUMP_3215" id="CP_JUMP_3215"></a>
				<div id="cs_control_3215" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_2345_3215">
						<div class="hl3">Member Login</div>
						<!-- <form id="mpc_login" name="mpc_login" action="/loader.cfm" method="post">
						-->
						<form class="section" action="https://www.xxx.com/services/?fuseaction=login" method="post">
							<input type="hidden" name="url" value="/commonspot/security/login-validate.cfm">
							<input type="hidden" name="hidePendingActions" value="0">
							<input type="hidden" name="hideAutoLogin" value="1">
							<input type="hidden" name="hideChangePassword" value="1">
							<input type="hidden" name="WindowType" value="">
							<input type="hidden" name="bNewWindow" value="0">
							<input type="hidden" name="SpellCheckOn" value="0">
							<input type="hidden" name="remember_me" value="0">
							<input type="hidden" name="targetURL" value="/marcopoloclub/Benefits.cfm?">
							<dl class="clear_list_style base_font_size">
								<dt style="font-weight:400">
									<label for="username">Username:</label>
								</dt>
								<dd>
									<input id="mpc_username" name="UserID" type="text" size="30"></dd>
								<dt style="font-weight:400">
									<label for="password">Password:</label>
								</dt>
								<dd>
									<input id="mpc_password" name="password" type="password" size="30"></dd>
							</dl>
							<input type="submit" value="Login">
							<br>
							<br></form>
					</div>
				</div>
				<a name="custom14722" id="custom14722"></a>
				<a name="CP_JUMP_14722" id="CP_JUMP_14722"></a>
				<div id="cs_control_14722" class="cs_control CS_Element_Custom"></div>
				<a name="customcf6534" id="customcf6534"></a>
				<a name="CP_JUMP_6534" id="CP_JUMP_6534"></a>
				<div id="cs_control_6534" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_2345_6534">
						<div class="end_cap"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="join_mpc" style="">
			<a class="self_clear" href="/marcopoloclub/membership_application.cfm">
				<img class="chicken" src="/assets/images/graphics/mpc_chicken.gif" width="39" height="38">Become a member</a>
		</div>
		<div id="dMainFBContest"></div>
	</div>
	<div id="primary_content" class="align_edges">
		<div id="cs_control_1329" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_content">
				<a name="textblocknohdr1352" id="textblocknohdr1352"></a>
				<a name="CP_JUMP_1352" id="CP_JUMP_1352"></a>
				<div id="cs_control_1352" class="cs_control CS_Element_Textblock">
					<div class="CS_Textblock_Text">
						<h1>Member Benefits</h1>
						<h2>Membership at a Glance</h2>
						<ul>
							<li>Enrollment is $300 per member</li>
							<li>Membership is valid for three years</li>
							<li>
								Savings and offers apply on bookings made only through  USA, LLC (Downers Grove, IL)
							</li>
						</ul>
						<h2> Benefits</h2>
						<ul>
							<li>
								<p class="clear_margins">
									5% savings off the cost of land arrangements on most  journeys, applicable after the first trip. Restrictions apply.
									<br>
									<a title="" href="/marcopoloclub/membership_terms_conditions.cfm">View Membership Terms &amp; Conditions</a>
									.
								</p>
							</li>
							<li>Priority waitlist on sold-out journeys</li>
							<li>
								Specifically designed Invitational Programs, itineraries for the most adventurous travellers.
							</li>
							<li>
								Waiver of the Tailor Made planning fee (a $300 value) on personalized programs and independent travel
							</li>
							<li>Acknowledgement and gifts while travelling</li>
							<li>
								Opportunity to share your photographs with the world and win future travel credit through our annual photo contest
							</li>
							<li>
								Exclusive email announcements and online offers only available to members
							</li>
						</ul>
					</div>
				</div>
				<a name="schedule9336" id="schedule9336"></a>
				<a name="CP_JUMP_9336" id="CP_JUMP_9336"></a>
				<div id="cs_control_9336" class="">
					<div class="CS_Element_Schedule" title="" id="CS_Sched_2345_9336">
						<div id="cs_control_9339" class="cs_control CS_Element_Textblock">
							<div class="CS_Textblock_Text">
								<h2>Partner Benefits</h2>
								<p>
									Please login to access Partner benefit codes and documentation. Contact Marco Polo Club Concierge at 800 323 7308.
								</p>
							</div>
						</div>
					</div>
				</div>
				<a name="textblocknohdr9334" id="textblocknohdr9334"></a>
				<a name="CP_JUMP_9334" id="CP_JUMP_9334"></a>
				<div id="cs_control_9334" class="cs_control CS_Element_Textblock">
					<div class="CS_Textblock_Text">
						<dl class="line_rule">
							<dt>Flexjet</dt>
							<dd>
								<p>
									<img src="/assets/images/mpc/logos/flexjet.jpg" alt="Flexjet" class="float_right" title="Flexjet" hspace="0" border="0" vspace="0">
									Flexjet, a division of Bombardier, provides Marco Polo Club members with savings on jet card purchases and fractional jet ownership.
								</p>
								<p>
									<a class="icon swirl_arrow" href="/marcopoloclub/flexjet.cfm">Learn More</a>
								</p>
							</dd>
							<dt>
								<br>The Ritz-Carlton Rewards</dt>
							<dd>
								<p>
									<img src="/marcopoloclub/images/rcr_logo.jpg" alt="Ritz-Carlton Rewards" class="float_right" title="Ritz-Carlton Rewards" height="27" hspace="-1" border="0" vspace="-1" width="150">
									Receive complimentary three-year Gold membership status with The Ritz-Carlton Rewards after your first  journey and benefit from room upgrades, a dedicated guest services line, priority late check-out and more exclusive offers.
								</p>
								<p>
									<a style="" class="CP___PAGEID_11422 icon swirl_arrow" href="/marcopoloclub/benefits_ritz.cfm">Learn More</a>
								</p>
							</dd>
							<!---<dt style="padding-top: 15px;">Saks Fifth Avenue</dt>
						<dd>
							<p>
								<img class="float_right" title="Saks Fifth Avenue logo" alt="Saks Fifth Avenue logo" src="/marcopoloclub/images/saks_sm_5.gif" border="0" height="63" hspace="0" width="70" />
								Enjoy a personal style consultation at Saks Fifth Avenue Club. Schedule an appointment and receive a $100 gift card towards your first Fifth Avenue Club purchase.
							</p>
							<p>
								<a class="CP___PAGEID_3301 icon swirl_arrow" href="/marcopoloclub/benefits_saks.cfm">Learn More</a>
							</p>
						</dd>
						=-->
						<dt style="padding-top: 15px;">Travel Guard</dt>
						<dd>
							<p>
								<img class="float_right" title="Travel Guard logo" alt="Travel Guard logo" src="/marcopoloclub/images/travel_guard_sm_3.gif" height="50" hspace="0" border="0" width="100">
								Receive a significantly reduced rate of $30 per insured for medical evacuation coverage valid on any travel for one year.
							</p>
							<p>
								<a class="CP___PAGEID_3326 icon swirl_arrow" href="/marcopoloclub/benefits_travel_guard.cfm">Learn More</a>
							</p>
						</dd>
					</dl>
				</div>
			</div>
			<a name="schedule4613" id="schedule4613"></a>
			<a name="CP_JUMP_4613" id="CP_JUMP_4613"></a>
			<div id="cs_control_4613" class="">
				<div class="CS_Element_Schedule" title="" id="CS_Sched_2345_4613">
					<div id="cs_control_4615" class="cs_control CS_Element_Textblock">
						<div class="CS_Textblock_Text">
							<h2> Travel Store</h2>
							<p>
								Receive savings and upgrades on complementary travel items from our recommended online retail partners:
							</p>
							<ul>
								<li>
									<a class="CP___PAGEID_3348" href="/marcopoloclub/benefits_carey.cfm">Carey Limousine</a>
									<br>
									The worldwide leader in chauffeured services offers premium transportation solutions for the world's most discerning travellers. Save 10% on Carey services in more than 550 cities and 60 countries worldwide.
								</li>
								<li>
									<a class="CP___PAGEID_5972" href="/marcopoloclub/Ekit.cfm">Ekit</a>
									<br>
									Embark on your travels knowing that global phone service is secured by renting or purchasing a global or satellite phone at special rates.
								</li>
								<li>
									<a href="https://www.ezforex.com/login.asp?Affiliate=2115&amp;WebUser=8174" target="_blank">eZforex</a>
									<br>
									Avoid paying exorbitant fees at currency exchange outlets throughout the world. eZforex offers $10 savings off your total order of $100 or more when purchasing foreign currency
									<a href="https://www.ezforex.com/login.asp?Affiliate=2115&amp;WebUser=8174" target="_blank">online</a>
									or by calling eZforex at 877 393 6739.
								</li>
								<li>
									<a onmouseover="" onmouseout="" href="http://www.longitudebooks.com/find/d/0/r/AK" target="_blank">Longitude Books</a>
									<br>
									This specialty online bookseller creates Essential Reading for all of our journeys and is pleased to offer a $10 gift certificate and complimentary shipping toward books, maps and DVDs for your trip.
								</li>
								<li>
									<a href="http://www.luggageforward.com/quote_international.jsp?cft=mpc010003006&amp;mki=mpc010003006" target="_blank">Luggage Forward</a>
									<br>
									Eliminate the extra fees and hassle of checking your luggage by sending it prior to embarking at 10% savings.
								</li>
								<li>
									<a href="http://usa.thetraveloutfitter.com/" target="_blank">The Travel Outfitter</a>
									<br>
									Receive 10% savings on clothing and accessories recommended for your  adventures.&nbsp; The Travel Outfitter by New Headings also provides a packing list for  destinations.
								</li>
								<li>
									<a href="http://www.vosgeschocolates.com/" target="_blank">Vosges Haut-Chocolat</a>
									<br>
									Travel the world through chocolate: experience the flavor of exotic destinations around the globe and save 20% on your haut-chocolat purchase.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>