<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
	<li>
		<a href="/">首页</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>Marco Polo Club</li>
</ul>
<div class="self_clear">
	<div id="secondary_content" class="hide_from_print">
		<div id="cs_control_3131" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_contentleft">
				Error in element (see logs)
				<br>
				<a name="customcf3455" id="customcf3455"></a>
				<a name="CP_JUMP_3455" id="CP_JUMP_3455"></a>
				<div id="cs_control_3455" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_16359_3455">
						<div class="hl3">Member Login</div>
						<!-- <form id="mpc_login" name="mpc_login" action="/loader.cfm" method="post">
						-->
						<form class="section" action="https://www.xxx.com/services/?fuseaction=login" method="post">
							<input type="hidden" name="url" value="/commonspot/security/login-validate.cfm">
							<input type="hidden" name="hidePendingActions" value="0">
							<input type="hidden" name="hideAutoLogin" value="1">
							<input type="hidden" name="hideChangePassword" value="1">
							<input type="hidden" name="WindowType" value="">
							<input type="hidden" name="bNewWindow" value="0">
							<input type="hidden" name="SpellCheckOn" value="0">
							<input type="hidden" name="remember_me" value="0">
							<input type="hidden" name="targetURL" value="/marcopoloclub/index.cfm?">
							<dl class="clear_list_style base_font_size">
								<dt style="font-weight:400">
									<label for="username">Username:</label>
								</dt>
								<dd>
									<input id="mpc_username" name="UserID" type="text" size="30"></dd>
								<dt style="font-weight:400">
									<label for="password">Password:</label>
								</dt>
								<dd>
									<input id="mpc_password" name="password" type="password" size="30"></dd>
							</dl>
							<input type="submit" value="Login">
							<br>
							<br></form>
					</div>
				</div>
				<a name="custom14717" id="custom14717"></a>
				<a name="CP_JUMP_14717" id="CP_JUMP_14717"></a>
				<div id="cs_control_14717" class="cs_control CS_Element_Custom">
					<div class="hl3">Related Brochures</div>
					<div class="section">
						<div class="related_brochure self_clear">
							<p>
								<img src="/assets_global/media/images/brochure_covers/travel-brochure-mpc-may-dec-2013.jpg" width="93" height="120" alt="Marco Polo Invitational Journeys May-December 2013" title="Marco Polo Invitational Journeys May-December 2013 brochure">Marco Polo Invitational Journeys May-December 2013</p>
							<ul>
								<li>
									<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=234" title="View Marco Polo Invitational Journeys May-December 2013" rel="Marco Polo Invitational Journeys May-December 2013 [234]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).attr('rel')); return false;">View</a>
								</li>
								<li>
									<a class="icon download" href="/travel_brochures/?fuseaction=act_brochure_download&amp;brid=234" onclick="recordIt('Brochure Download PDF','','')">Download</a>
								</li>
								<li>
									<a class="icon request_brochure" href="/travel_brochures/?brid=234">Request</a>
								</li>
							</ul>
						</div>
						<p>
							<a class="icon swirl_arrow" href="/brochures">View All Brochures</a>
						</p>
					</div>
				</div>
				<a name="customcf11862" id="customcf11862"></a>
				<a name="CP_JUMP_11862" id="CP_JUMP_11862"></a>
				<div id="cs_control_11862" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_16359_11862">
						<div class="end_cap"></div>
					</div>
				</div>
				<a name="tbsimple15166" id="tbsimple15166"></a>
				<a name="CP_JUMP_15166" id="CP_JUMP_15166"></a>
				<div id="cs_control_15166" class="cs_control CS_Element_Textblock">
					<div class="CS_Textblock_Text">
						<div style="padding: 10px 15px 0;">
							<a class="akOverlay" href="/assets/overlays/webinar-video.cfm?youtube_code=QZRcy6R7r_4&amp;youtube_height=360" rel="{&quot;width&quot;:480, &quot;background&quot;:&quot;#f4f4f4&quot;}" title=" MPC Webinar">
								<img src="/assets/images/destination/editorials/mpc/mpc-webinar.jpg" alt=" MPC Webinar" style="width:100%;"></a>
							<p>
								<a class="akOverlay icon video overlay" href="/assets/overlays/webinar-video.cfm?youtube_code=QZRcy6R7r_4&amp;youtube_height=360" rel="{&quot;width&quot;:480, &quot;background&quot;:&quot;#f4f4f4&quot;}" title=" MPC Webinar">Watch the Marco Polo Club webinar</a>
							</p>
						</div>
					</div>
				</div>
				<a name="customcf15168" id="customcf15168"></a>
				<a name="CP_JUMP_15168" id="CP_JUMP_15168"></a>
				<div id="cs_control_15168" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_16359_15168">
						<div class="end_cap"></div>
					</div>
				</div>
				<div id="cs_control_16454" class="cs_control CS_Element_Custom"></div>
			</div>
		</div>
		<div id="join_mpc" style="">
			<a class="self_clear" href="/marcopoloclub/membership_application.cfm">
				<img class="chicken" src="/assets/images/graphics/mpc_chicken.gif" width="39" height="38">Become a member</a>
		</div>
		<div id="dMainFBContest"></div>
	</div>
	<div id="primary_content" class="align_edges">
		<div id="cs_control_1329" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_content">
				<a name="textblocknohdr1352" id="textblocknohdr1352"></a>
				<a name="CP_JUMP_1352" id="CP_JUMP_1352"></a>
				<div id="cs_control_1352" class="cs_control CS_Element_Textblock">
					<div class="CS_Textblock_Text">
						<h1>Exploring the World from the Inside Out</h1>
						<p>
							The Marco Polo Club is for people who view travel as an integral element of their lives — people like you who dream of their next journey even as they relive the memories of their last. Marco Polo Club delivers only the finest travel opportunities and experiences — precisely what you demand.
						</p>
						<p>
							For more than 25 years, the Club has taken dedicated travellers far off the beaten path with extraordinary privileges every step of the way. The Marco Polo Club always offers personal service, innovative journeys and unique "insider's" opportunities not available anywhere else in the travel community.
						</p>
					</div>
				</div>
				<a name="customcf3643" id="customcf3643"></a>
				<a name="CP_JUMP_3643" id="CP_JUMP_3643"></a>
				<div id="cs_control_3643" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_16359_3643">
						<div id="mpc_special">
							<dl class="line_rule">
								<dt class="clear_padding">Our 2013 MPC Invitational Journeys Brochure Is Available Now</dt>
								<dd>
									<p>
										<img class="float_left" src="/assets_global/media/images/brochure_covers/travel-brochure-mpc-may-dec-2013.jpg" width="89" height="116">
										We have 18 incredible Marco Polo Club Invitational Journeys for 2013 designed to envelop you in exotic, off-the-beaten-track locations around the world, including our first-ever programs to Colombia and Sri Lanka. Check them all out in our new brochure, available to download or order now. From train rides through Siberia and along the Silk Road to an incredible 10-day cruise in recently opened areas of the Nile, 's experts have prepared itineraries that are certain to inspire you.
									</p>
									<p>
										<a href="/travel_brochures/?fuseaction=dsp_download_form&amp;brid=234">Download</a>
										or
										<a href="/travel_brochures/?brid=234">order</a>
										the 2013 MPC Invitational Journeys brochure now.
									</p>
								</dd>
							</dl>
						</div>
						<div class="self_clear">
							<div id="photo_contest_winner" class="self_clear">
								<img src="/assets/images/mpc/photo_contest/winner_12.jpg" width="161" height="200">
								<p>
									2012 First Place Winner
									<br>
									"Comfortable Cubs"
									<br>
									Mala Mala, Southern Africa
									<br> <em>- Dallas Hetherington</em>
								</p>
								<p>
									Congratulations to the 2012 Photo Contest
									<a href="/marcopoloclub/photo-contest/winners/2012.cfm" title="">Winners</a>
									.
								</p>
							</div>
							<div id="featured_invitational_programs" class="self_clear" style="width:534px;">
								<h2>Featured Invitationals</h2>
								<p>
									Marco Polo Club's Invitational Journeys offer fascinating itineraries in diverse locations. Take a look at three featured journeys below.
								</p>
								<ul class="clear_list_style line_rule self_clear">
									<li style="padding:0;" class="self_clear">
										<img src="/assets_global/media/images/thumbnails/mpc_invitationals/the-flemish-masters-2013.jpg" alt="The Flemish Masters" width="120" height="120"> <strong><a href="/travel/?tid=5684&amp;fuseaction=dsp_itinerary" title="The Flemish Masters">The Flemish Masters</a>
											<br>
											Tour Director: Simon Butler-Madden | July 4-11, 2013
											<br>From $6,495 per person</strong>
										<p>
											Explore museums to view artistic masterpieces and enjoy the spectacular architecture that lines the many canals of Brussels, Bruges, Delft and Amsterdam.
										</p>
									</li>
									<li class="self_clear">
										<img src="/assets_global/media/images/thumbnails/mpc_invitationals/brazil-rainforests-to-rio-1.jpg" alt="Brazil: Rainforests to Rio" width="120" height="120"> <strong><a href="/travel/index.cfm?tid=5681&amp;fuseaction=dsp_itinerary" title="Brazil: Rainforests to Rio">Brazil: Rainforests to Rio</a>
											<br>
											Tour Director: Marcella Granatiere | August 3-12, 2013
											<br>From $6,795 per person</strong>
										<p>
											From the majestic Iguassu Falls to the colorful streets of Rio de Janeiro and its enviable beaches to the vast, dark Amazon, experience a country of mythic proportions.
										</p>
									</li>
									<li class="self_clear">
										<img src="/assets_global/media/images/thumbnails/mpc_invitationals/southern-africa-by-river-and-rail-2013.jpg" width="120" height="120">
										<strong>
											<a href="/travel/index.cfm?tid=5696&amp;fuseaction=dsp_itinerary" title="Southern Africa by River and Rail">Southern Africa by River and Rail</a>
											<br>
											Tour Director: Tony Staadecker | May 12-22, 2013 | May 26-June 5, 2013 | August 4-14, 2013 | November 24-Dec 04, 2013
											<br>From $11,995 per person</strong>
										<p>
											Back by popular demand with new dates added for 2013, see Botswana, Zambia and South Africa from Rovos Rail and the 'Zambezi Queen.'
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>