<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
	<li>
		<a href="/">首页</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>
		<a href="/discover/">Discover</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>Connections Group Travel</li>
</ul>
<div class="self_clear">
	<div id="secondary_content" class="hide_from_print">
		<div id="cs_control_3131" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_contentleft">
				<a name="custom13694" id="custom13694"></a>
				<a name="CP_JUMP_13694" id="CP_JUMP_13694"></a>
				<div id="cs_control_13694" class="cs_control CS_Element_Custom">
					<div class="hl3">Navigate By</div>
					<!-- OHSU Nav -->
					<ul class="section cspot_nav">
						<li class="icon bullet_arrow">
							<a href="/discover/">Discover </a>
						</li>
						<li class="icon expando_hide">
							<a href="/discover/luxury-small-group-travel/">Luxury Small Group Journeys</a>
							<ul></ul>
						</li>
						<li class="navigation_active icon bullet_arrow">
							<a href="/discover/connections-group-travel/">Connections Group Journeys</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/private-travel/">Private Journeys</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/../../marcopoloclub/invitation_only_travel.cfm">MPC Invitationals</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/adventure-cruising/">Adventure Cruises</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/african-safari/">African Safari</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/canal-river-cruising/">Canal &amp; River Cruising</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="http://www.akextremeadventures.com">Extreme Adventures</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/family-holidays/">Family Travel</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/romance.cfm">Romantic Journeys</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/solo-travel/">Solo Travel</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/luxury-train-travel/">Luxury Train Travel</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/luxury-sailing/">Luxury Sailing</a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/fly/">Fly with </a>
						</li>
						<li class="icon bullet_arrow">
							<a href="/discover/trip-extensions/">Trip Extensions</a>
						</li>
					</ul>
				</div>
				<a name="customcf14073" id="customcf14073"></a>
				<a name="CP_JUMP_14073" id="CP_JUMP_14073"></a>
				<div id="cs_control_14073" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_16384_14073">
						<div class="end_cap"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="dMainFBContest"></div>
	</div>
	<div id="primary_content" class="align_edges">
		<h1>Connect to the World's Greatest Places</h1>
		<div id="right_column_content" class="hide_from_print">
			<div id="cs_control_9506" class="">
				<div class="CS_Element_Schedule" title="" id="CS_Element_contentsupplemental">
					<div id="cs_control_16372" class="cs_control CS_Element_Textblock">
						<div class="CS_Textblock_Text">
							<h3 class="clear_margins">A Closer Look at Connections</h3>
							<br>
							<div class="round_corners color_f2f2f2 self_clear" style="padding:15px 15px 0;">
								<div class="ctl"></div>
								<div class="ctr"></div>
								<div class="cbr"></div>
								<div class="cbl"></div>
								<img class="float_left" style="margin-top:0" src="/assets_global/media/images/brochure_covers/travel-brochure-connections-2013.jpg" alt="Connections Worldwide Group Journeys 2013" title="Connections Worldwide Group Journeys 2013" width="89" height="116">
								<p class="clear_margins">Connections Worldwide Group Journeys 2013</p>
								<ul class="clear_list_style attribute_list" style="margin-top:6px;">
									<li>
										<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=225" title="Connections Worldwide Group Journeys 2013" rel="Connections Worldwide Group Journeys 2013 [225]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).get('rel')); return false;">View Online</a>
									</li>
									<li>
										<a class="icon download" href="/travel_brochures/?fuseaction=dsp_brochure_download&amp;brid=225&amp;cbc=Connections Worldwide Group Journeys 2013">Download PDF</a>
									</li>
									<li>
										<a class="icon request_brochure" href="/travel_brochures/?brid=225">Request Brochure</a>
									</li>
								</ul>
							</div>
							<br>
							<div class="round_corners color_f2f2f2 self_clear" style="padding:15px 15px 0;">
								<div class="ctl"></div>
								<div class="ctr"></div>
								<div class="cbr"></div>
								<div class="cbl"></div>
								<a class="akOverlay" href="/assets/overlays/ak-video.cfm?youtube_code=9MN37KWK0KA&amp;youtube_height=300" title="Connections Video Overview" rel="{&quot;width&quot;:480, &quot;background&quot;:&quot;#f4f4f4&quot;}">
									<img src="/assets/images/discover/connections-video.jpg" width="220" alt="Video introduction to Connections travel"></a>
								<p>
									<a id="gkcon" class="akOverlay icon video" href="/assets/overlays/ak-video.cfm?youtube_code=9MN37KWK0KA&amp;youtube_height=300" title="Connections Video Overview" rel="{&quot;width&quot;:480, &quot;background&quot;:&quot;#f4f4f4&quot;}">Watch a short video introduction to Connections travel</a>
								</p>
							</div>
							<br>
							<div class="round_corners color_f2f2f2 self_clear" style="padding:15px 15px 0;">
								<div class="ctl"></div>
								<div class="ctr"></div>
								<div class="cbr"></div>
								<div class="cbl"></div>
								<p>
									<a class="akOverlay" href="/assets/overlays/youtube_video.cfm?youtube_code=lNyfIc_NVNg" title="Connections Webinar" rel="{&quot;width&quot;:480, &quot;background&quot;:&quot;#f4f4f4&quot;}">
										<img src="/assets/images/discover/connections-webinar.jpg" width="220" alt="Connections Webinar"></a>
									<a id="gkcon" class="akOverlay icon video" href="/assets/overlays/youtube_video.cfm?youtube_code=lNyfIc_NVNg" title="Connections Webinar" rel="{&quot;width&quot;:480, &quot;background&quot;:&quot;#f4f4f4&quot;}">Watch the Connections webinar</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="cs_control_1329" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_content">
				<div id="cs_control_16523" class="cs_control CS_Element_Custom">
					<h4 class="rounded_btn">
						<a class="icon search" title="See all Connections Journeys" href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=724&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1">See all Connections Journeys</a>
					</h4>
				</div>
				<div id="cs_control_16407" class="cs_control CS_Element_Textblock">
					<div class="CS_Textblock_Text">
						<p> <em>Fifty years after pioneering the modern luxury adventure,  introduces a new approach to group travel.</em> 
						</p>
						<p>
							Connections by  offers one-on-one connections with the world's most intriguing places and cultures. For explorers at heart who refuse to skimp on inspiration and enrichment, Connections journeys offer something never before possible: a chance to discover the world in the company of unmatched local experts, at an unbeatable value.
						</p>
						<!---<div class="promo_box self_clear">
						<p style="margin-top:0;"> <strong><a class="akOverlay" title="Connections Webinar" href="/assets/overlays/youtube_video.cfm?youtube_code=lNyfIc_NVNg" rel="{&quot;width&quot;:480, &quot;background&quot;:&quot;#f4f4f4&quot;}">Watch</a>
								the webinar highlighting a selection of our new Connections itineraries.</strong> 
						</p>
					</div>
					-->
					<div>
						<ul class="special_offers">
							<li style="LIST-STYLE-TYPE: none">
								<br>
								<span style="FONT: bold 14px Arial, Helvetica, sans-serif; COLOR: #5d6064">Connections Hotels Make the Gold List</span>
								<br>
								Nine hotels from Connections itineraries were recently selected for the <em>Condé Nast Traveler's</em>
								Gold List of “The World’s Best Places to Stay,” including the Esplanade Zagreb Hotel in Croatia, the Fairmont Chateau Lake Louise in Canada and the Oberoi Amarvilas in India. Proof that, on Connections journeys, luxury and authenticity go hand in hand.
							</li>
						</ul>
					</div>
					<h2>The Same  Service and Expertise</h2>
					<p>
						Like our award-winning luxury small-group and independent itineraries, Connections journeys are backed by 's unmatched network of 50 offices around the world. The same dedicated experts and staff who have made  a byword for quality work behind the scenes to make your Connections journey as perfect as it can be.
					</p>
					<h2>Great Value from Beginning to End</h2>
					<p>
						Connections travel delivers what you value most in a vacation: a true understanding of your destination's culture, history and natural beauty, without the extra amenities that make up a typical luxury journey. Our commitment to great value shines through in every aspect of your journey, from the hotels hand-selected by our local experts to the Tour Directors who make sure you get the most from every stop on your itinerary.
					</p>
					<h2>Small Groups of Just 24-28 Guests</h2>
					<p>
						Other travel companies tout "average group sizes" of as many as 44 passengers – meaning you can end up travelling with even more than that. In order to truly connect you to your destination, Connections journeys are limited to no more than 24-28 guests.
					</p>
					<h2>Explore New Journeys on Six Continents</h2>
					<p>
						<em>Click the images below to discover the world with Connections by .</em> 
					</p>
				</div>
			</div>
			<div id="cs_control_17683" class="cs_control CS_Element_CustomCF">
				<div id="CS_CCF_16384_17683">
					<!-- META DATA BEGIN -->
					<!-- META DATA END -->
				</div>
			</div>
		</div>
	</div>
</div>
</div>