<strong class="title"><%= @gallery.title %></strong>
<div id="destination_slides_modal">
		<% @gallery.photos.each do |photo| %>
		<img src="<%= photo.pic.url %>" alt="<%= photo.desc %>" >
    <% end %>
</div>
<p class="slide_img_title"></p>