	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" media="screen"/>
<div class="self_clear">
	<div id="secondary_content" class="hide_from_print">
		<div class="trackcat-Homepage-Promo">
			<div class="search-box round_corners color_f2f2f2">
				<div id="spinner_control">
					<div style="" class="spinner-content">
						<p class="spinner-msg">Loading....</p>
						<div class="spinner-img"></div>
					</div>
				</div>
				<!-- ROUNDED CORNERS -->
				<div class="ctl"></div>
				<div class="ctr"></div>
				<div class="cbr"></div>
				<div class="cbl"></div>
				<!-- SEARCH FILTERS -->
				<h2 class="blue-hue">Find the Perfect Holiday</h2>
				<select id="travel_destination_control" name="tdgf">
					<option value="0">Search by Travel Destination</option>
					<option value="4">Africa</option>
					<option value="5">Antarctica</option>
					<option value="21">Arctic</option>
					<option value="7">Asia</option>
					<option value="6">Australia &amp; New Zealand</option>
					<option value="8">Egypt &amp; Middle East</option>
					<option value="9">Europe</option>
					<option value="20">India</option>
					<option value="11">Latin America &amp; Galápagos</option>
					<option value="12">North America</option>
				</select>
				<p id="travel_destination_control_filter"></p>
				<select id="travel_interest_control" name="tif">
					<option value="">Search by Travel Interest (optional)</option>
					<option value="723">Luxury Small Group Journeys</option>
					<option value="724">Connections Group Journeys</option>
					<option value="690">Private Luxury Journeys</option>
					<option value="700">Private Jet Journeys</option>
					<option value="699">MPC Limited Edition Journeys</option>
					<option value="691">Adventure Cruises</option>
					<option value="719">African Safari</option>
					<option value="692">Canal &amp; River Cruising</option>
					<option value="695">Extreme Adventures</option>
					<option value="696">Family Travel</option>
					<option value="717">Solo Travel</option>
					<option value="698">Luxury Train Travel</option>
					<option value="714">Discovery Series</option>
					<option value="716">Signature Series</option>
					<option value="715">Tailor Made</option>
					<option value="720">Tailor Made Elements</option>
					<option value="705">Trip Extensions</option>
				</select>
				<p id="travel_interest_control_filter"></p>

				<select id="departure_date_control" name="dryf_drmf">
					<option value="0_0">Search by Departure Month (optional)</option>
					<option value="2013_3">March 2013</option>
					<option value="2013_4">April 2013</option>
					<option value="2013_5">May 2013</option>
					<option value="2013_6">June 2013</option>
					<option value="2013_7">July 2013</option>
					<option value="2013_8">August 2013</option>
					<option value="2013_9">September 2013</option>
					<option value="2013_10">October 2013</option>
					<option value="2013_11">November 2013</option>
					<option value="2013_12">December 2013</option>
					<option value="2014_1">January 2014</option>
					<option value="2014_3">March 2014</option>
					<option value="2014_4">April 2014</option>
					<option value="2014_5">May 2014</option>
					<option value="2014_6">June 2014</option>
					<option value="2014_7">July 2014</option>
					<option value="2014_8">August 2014</option>
					<option value="2014_9">September 2014</option>
					<option value="2014_10">October 2014</option>
				</select>
				<p id="departure_date_control_filter"></p>
				<select id="price_range_control" name="prlf_prhf">
					<option value="0_0">Search by Price Range (optional)</option>
					<option value="0_5000">Less than $5,000</option>
					<option value="5000_9999">$5,000 - $9,999</option>
					<option value="10000_14999">$10,000 - $14,999</option>
					<option value="15000_1000000">$15,000 - &amp; Above</option>
				</select>
				<p id="price_range_control_filter"></p>

				<!-- :: -->
				<div class="view_results self_clear">
					<input type="button" id="search_button_control" value="View Results">
					<span id="record_count_control" class="trip_count"> <strong>0</strong>
						Trips
					</span>
				</div>

			</div>

			<!-- CTA -->
			<div class="cta round_corners color_f2f2f2" style="margin-top:15px;">
				<!-- ROUNDED CORNERS -->
				<div class="ctl"></div>
				<div class="ctr"></div>
				<div class="cbr"></div>
				<div class="cbl"></div>
				<!-- SEARCH FILTERS -->
				<div class="self_clear">
					<center>
						<h3>Talk to a Destination Specialist</h3>
						<p>
							<span>800 554 7016</span>
							<br>
							M-F 8 a.m.-7 p.m., Sat 9 a.m.-1 p.m. CDT
							<br>Or contact your travel professional.</p>
						<hr>
						<p class="clear_margins">
							Be the first to know.
							<br>Sign-up for our weekly updates.</p>
						<form style="padding-top:5px;" method="post" action="">
							<input type="hidden" class="enews_ecrmID" name="enews_ecrmID" value="0">
							<input type="text" id="email_signup" class="enews_email_address" name="email_address" size="23">
							<input type="submit" class="enews_input_button" id="" value="sign-up"></form>
					</center>
				</div>
			</div>
			<div class="social-home">
				<span class="first_child">
					<a href="#" target="_blank">
						<img src="/images/follow-us-facebook.gif" width="121" height="36"></a>
				</span>
				<span>
					<a href="#" target="_blank">
						<img src="/images/follow-us-twitter.gif" width="121" height="36"></a>
				</span>
			</div>

			<!-- END CTA -->
			<div id="ipad-promo" class="trackact-Slot-B">
				<a title="iPad App Learn More" href="/ipad-travel-apps/">
					<img src="/images/ipad-secondary.jpg" width="255" height="150"></a>
				<h3 class="clear_margins">
					The World of  for iPad <sup style="font-size:10px;">®</sup>
				</h3>
				<ul class="bullet_list clear_padding">
					<li>Explore 26  destinations through photos and video</li>
					<li>Share through Facebook and Twitter</li>
					<li>Send beautiful electronic postcards</li>
					<li>Create your own customized travel map</li>
					<li>
						Available FREE from the App Store <sup><span style="font-size:7px;">SM</span></sup> 
					</li>
				</ul>
				<p class="base_font_size">
					<a class="icon swirl_arrow" title="iPad App Learn More" href="/ipad-travel-apps/">Learn more</a>
					&nbsp; &nbsp;
					<a class="icon download" title="iPad App Download" href="http://itunes.apple.com/us/app/world-of-a-k/id449045086?mt=8" target="_blank">Free Download</a>
				</p>
			</div>
		</div>
		<div id="dMainFBContest"></div>
	</div>
	<div id="primary_content" class="align_edges">
		<div class="trackcat-Homepage-Promo">
			<div id="description">
				<h1>
					Luxury Travel with : Authentic &amp; Inspiring
				</h1>
				<p>
					Founded in 1962,  is the world's foremost luxury travel company, delivering inspiring experiences in the world's greatest destinations through a global network of 50 offices. Travel in a small group on a pre-arranged itinerary, or let us design the perfect private journey for you.
				</p>
			</div>
			<!-- RIGHT COLUMN PROMO -->
			<div id="right-column-content">
				<h2 style="margin-top:0;">The Ultimate Small Group Travel Experience</h2>
				<div id="promo-b" class="trackact-Slot-B self_clear">
					<a title="Explore Japan with Geoffrey Kent" href="/travel-destinations/asia-luxury-travel/japan/clipper-odyssey.cfm">
						<img src="/images/2013-1-japan.jpg" width="250" height="100"></a>
					<h3 class="clear_margins">Explore Japan with Geoffrey Kent</h3>
					<p>
						Embark on a cruise to the Land of the Rising Sun, featured in <em>The New York Times</em>
						, visiting out-of-the-way islands and coasts with  founder Geoffrey Kent.
					</p>
					<p class="clear_margins">
						<a title="Explore Japan with Geoffrey Kent" class="icon swirl_arrow" href="/travel-destinations/asia-luxury-travel/japan/clipper-odyssey.cfm">Learn more</a>
					</p>
				</div>
				<hr>
				<div id="promo-c" class="trackact-Slot-C self_clear">
					<a href="/travel/?tid=5599" title="Wonders of Galápagos">
						<img src="/images/galapagos-crab.jpg" width="250" height="100"></a>
					<h3 class="clear_margins">Explore the Wonders of Galápagos</h3>
					<p>
						Stroll pristine beaches and come face to face with giant tortoises on a journey from $6,995 that includes a seven-night cruise aboard 'Eclipse.'
					</p>
					<p class="clear_margins">
						<a href="/travel/?tid=5599" title="Wonders of Galápagos" class="icon swirl_arrow">Learn more</a>
					</p>
				</div>
				<hr>
				<div id="promo-d" class="trackact-Slot-D self_clear">
					<a href="http://www.xxx.com/simca/" title="Isla Simca" target="_blank">
						<img src="/images/simca.jpg" alt="Isla Simca" width="250" height="100"></a>
					<h3 class="clear_margins">
						Reserve Your Private Villa,
						<br>Isla Simca</h3>
					<p>
						Experience the perfect blend of luxury, privacy and leisure with this exclusive villa off the Panama Coast, highlighted in <em>Vanity Fair</em>
						.
					</p>
					<p class="clear_margins">
						<a href="http://www.xxx.com/simca/" title="Isla Simca" target="_blank" class="icon swirl_arrow">Learn more</a>
					</p>
				</div>
			</div>
			<!-- PRIMARY COLUMN -->
			<div id="primary-column">
				<div id="connections" class="trackact-Slot-A">
					<div id="intro" class="borderbox self_clear">
						<img class="clear_margins" src="/images/introducing-connections-2.png">
						<div class="main-msg" style="border:none; margin-bottom:0;">
							<a title="Learn more about Connections" href="https://www.xxx.com/discover/connections-group-travel/">
								<img style="float:right; margin-left:15px;" src="/images/connections-brochure-lg.jpg"></a>
							<h3 class="clear_margins">Connect with the World's Greatest Places</h3>
							<p style="margin:11px 0;">
								Connections group journeys offer a chance to discover the world in the company of unmatched local experts, at an unbeatable value, starting at $3,395.
							</p>
							<a class="yellow-btn" title="Learn more about Connections" href="/discover/connections-group-travel/">
								<span class="icon swirl_arrow">Learn more</span>
							</a>
						</div>
					</div>
				</div>
				<div id="brochures" class="borderbox trackact-Slot-E">
					<h2>Choose from a World of Destinations</h2>
					<p>
						Our 2013 brochure portfolio is your gateway to inspiring adventure on all seven continents.
					</p>
					<center>
						<a title="Request a brochure today" href="/travel_brochures/">
							<img src="/images/2012-brochures.jpg"></a>
					</center>
					<p>
						<a class="icon swirl_arrow" title="Request a brochure today" href="/travel_brochures/">Request a brochure today</a>
					</p>
				</div>
				<div id="brochures" class="borderbox trackact-Slot-E">
					<h3>
						Vote in the
						<em>Travel + Leisure</em>
						Readers' Survey
					</h3>
					<a href="http://tlworldsbest.roiresearch.com/" title="Travel + Leisure Awards" target="_blank">
						<img style="float:left; margin-right:10px; width:90px; height:90px;" src="/images/trav-logo.gif"></a>
					<p>
						Support  and
						<a href="http://tlworldsbest.roiresearch.com/" target="_blank" title="Vote in the Travel + Leisure Readers' Survey">cast your vote</a>
						in the
						<em>Travel + Leisure</em>
						World's Best Awards 2013 readers' survey.  has been named a World's Best Tour Operator and Safari Outfitter for sixteen years.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>