<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
	<li>
		<a href="/">首页</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>Brochure Request</li>
</ul>
<div class="self_clear">
	<div id="primary_content" class="align_edges">
		<div id="cs_control_1329" class="">
			<div class="CS_Element_Schedule" title="" id="CS_Element_content">
				<a name="customcf2375" id="customcf2375"></a>
				<a name="CP_JUMP_2375" id="CP_JUMP_2375"></a>
				<div id="cs_control_2375" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_1376_2375">
						<h1>A World of Destinations</h1>
						<p>
							To download a brochure, click on the Download PDF link next to the appropriate brochure cover.
To request brochures to be sent to you, check the box next to the three
							<br>
							brochure(s) you want to receive and then click on the Request Brochure link.
Travel Agents should
							<a href="/login.cfm">login</a>
							or
							<a href="/services/signup_agent_services.cfm">register</a>
							before ordering brochures.
						</p>
						<form id="dsp_brochure_order" action="/travel_brochures/?fuseaction=dsp_brochure_order&amp;cbc=Request Brochure" method="post">
							<input type="hidden" name="fuseaction" value="dsp_brochure_order">
							<input type="hidden" name="isAgent" id="isAgent" value="0">
							<table width="100%">
								<tbody>
									<tr>
										<!-- COLUMN 1 -->
										<td width="33%">
											<img src="/assets_global/media/images/brochure_covers/travel-brochure-private-jet-africa-2014.jpg" alt="Africa: Across a Continent by Private Jet 2014" title="Africa: Across a Continent by Private Jet 2014" width="125" height="162"> <strong class="highlight">New!</strong> <strong>Africa: Across a Continent by Private Jet 2014</strong>
											<ul class="clear_list_style attribute_list">
												<!-- Page flip brochure -->
												<li>
													<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=233" title="View Africa: Across a Continent by Private Jet 2014" rel="Africa: Across a Continent by Private Jet 2014 [233]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).get('rel')); return false;">View Online</a>
												</li>
												<!-- Download brochure -->
												<li>
													<a class="icon download" href="/travel_brochures/?fuseaction=dsp_brochure_download&amp;brid=233&amp;cbc=Africa: Across a Continent by Private Jet 2014" onclick="recordIt('Brochure Download PDF','','')">Download PDF</a>
												</li>
												<!-- Order brochure -->
												<li>
													<input type="checkbox" name="brid_list" value="233">
													<a href="javascript:void(0);" class="brochure_order_link">Request Brochure</a>
												</li>
											</ul>
										</td>
										<!-- COLUMN 2 -->
										<td width="33%">
											<img src="/assets_global/media/images/brochure_covers/travel-brochure-mpc-may-dec-2013.jpg" alt="Marco Polo Invitational Journeys May-December 2013" title="Marco Polo Invitational Journeys May-December 2013" width="125" height="162">
											<strong class="highlight">New!</strong>
											<strong>Marco Polo Invitational Journeys May-December 2013</strong>
											<ul class="clear_list_style attribute_list">
												<!-- Page flip brochure -->
												<li>
													<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=234" title="View Marco Polo Invitational Journeys May-December 2013" rel="Marco Polo Invitational Journeys May-December 2013 [234]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).get('rel')); return false;">View Online</a>
												</li>
												<!-- Download brochure -->
												<li>
													<a class="icon download" href="/travel_brochures/?fuseaction=dsp_brochure_download&amp;brid=234&amp;cbc=Marco Polo Invitational Journeys May-December 2013" onclick="recordIt('Brochure Download PDF','','')">Download PDF</a>
												</li>
												<!-- Order brochure -->
												<li>
													<input type="checkbox" name="brid_list" value="234">
													<a href="javascript:void(0);" class="brochure_order_link">Request Brochure</a>
												</li>
											</ul>
										</td>
										<!-- COLUMN 3 -->
										<td width="33%">
											<img src="/assets_global/media/images/brochure_covers/travel-brochure-small-group-luxury-journeys-2013.jpg" alt=" Luxury Small Group Journeys 2013" title="Luxury Small Group Journeys 2013" width="125" height="162">
											<strong>Luxury Small Group Journeys 2013</strong>
											<ul class="clear_list_style attribute_list">
												<!-- Page flip brochure -->
												<li>
													<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=223" title="View Luxury Small Group Journeys 2013" rel="Luxury Small Group Journeys 2013 [223]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).get('rel')); return false;">View Online</a>
												</li>
												<!-- Download brochure -->
												<li>
													<a class="icon download" href="/travel_brochures/?fuseaction=dsp_brochure_download&amp;brid=223&amp;cbc=Luxury Small Group Journeys 2013" onclick="recordIt('Brochure Download PDF','','')">Download PDF</a>
												</li>
												<!-- Order brochure -->
												<li>
													<input type="checkbox" name="brid_list" value="223" checked="checked">
													<a href="javascript:void(0);" class="brochure_order_link">Request Brochure</a>
												</li>
											</ul>
										</td>
									</tr>
									<tr>
										<!-- COLUMN 1 -->
										<td width="33%">
											<img src="/assets_global/media/images/brochure_covers/travel-brochure-connections-2013.jpg" alt="Connections Worldwide Group Journeys 2013" title="Connections Worldwide Group Journeys 2013" width="125" height="162">
											<strong>Connections Worldwide Group Journeys 2013</strong>
											<br>
											<span>The essence of  in 20 journeys of unmatched value</span>
											<ul class="clear_list_style attribute_list">
												<!-- Page flip brochure -->
												<li>
													<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=225" title="View Connections Worldwide Group Journeys 2013" rel="Connections Worldwide Group Journeys 2013 [225]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).get('rel')); return false;">View Online</a>
												</li>
												<!-- Download brochure -->
												<li>
													<a class="icon download" href="/travel_brochures/?fuseaction=dsp_brochure_download&amp;brid=225&amp;cbc=Connections Worldwide Group Journeys 2013" onclick="recordIt('Brochure Download PDF','','')">Download PDF</a>
												</li>
												<!-- Order brochure -->
												<li>
													<input type="checkbox" name="brid_list" value="225">
													<a href="javascript:void(0);" class="brochure_order_link">Request Brochure</a>
												</li>
											</ul>
										</td>
										<!-- COLUMN 2 -->
										<td width="33%">
											<img src="/assets_global/media/images/brochure_covers/travel-brochure-antarctica-2013-14.jpg" alt="antarctica 2013-14 travel brochure" title="Antarctica 2013-2014" width="125" height="162">
											<strong>Antarctica 2013-2014</strong>
											<br>
											<span>
												Explore the spectacular White Continent on board all-balcony 'Le Boreal'
											</span>
											<ul class="clear_list_style attribute_list">
												<!-- Page flip brochure -->
												<li>
													<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=227" title="View Antarctica 2013-2014" rel="Antarctica 2013-2014 [227]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).get('rel')); return false;">View Online</a>
												</li>
												<!-- Download brochure -->
												<li>
													<a class="icon download" href="/travel_brochures/?fuseaction=dsp_brochure_download&amp;brid=227&amp;cbc=Antarctica 2013-2014" onclick="recordIt('Brochure Download PDF','','')">Download PDF</a>
												</li>
												<!-- Order brochure -->
												<li>
													<input type="checkbox" name="brid_list" value="227">
													<a href="javascript:void(0);" class="brochure_order_link">Request Brochure</a>
												</li>
											</ul>
										</td>
										<!-- COLUMN 3 -->
										<td width="33%">
											<img src="/assets_global/media/images/brochure_covers/travel-brochure-private-travel-2013.jpg" alt="Luxury Private Travel 2013" title="Luxury Private Travel 2013" width="125" height="162">
											<strong>Luxury Private Travel 2013</strong>
											<br>
											<span>
												Create the journey of your dreams with this private travel guide, packed with expertise
											</span>
											<ul class="clear_list_style attribute_list">
												<!-- Page flip brochure -->
												<li>
													<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=228" title="View Luxury Private Travel 2013" rel="Luxury Private Travel 2013 [228]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).get('rel')); return false;">View Online</a>
												</li>
												<!-- Download brochure -->
												<li>
													<a class="icon download" href="/travel_brochures/?fuseaction=dsp_brochure_download&amp;brid=228&amp;cbc=Luxury Private Travel 2013" onclick="recordIt('Brochure Download PDF','','')">Download PDF</a>
												</li>
												<!-- Order brochure -->
												<li>
													<input type="checkbox" name="brid_list" value="228">
													<a href="javascript:void(0);" class="brochure_order_link">Request Brochure</a>
												</li>
											</ul>
										</td>
									</tr>
									<tr>
										<!-- COLUMN 1 -->
										<td width="33%">
											<img src="/assets_global/media/images/brochure_covers/travel-brochure-hotel-portfolio.jpg" alt="Worldwide Hotel Portfolio 2013" title="Worldwide Hotel Portfolio 2013" width="125" height="162">
											<strong>Worldwide Hotel Portfolio 2013</strong>
											<br>
											<span>
												Your guide to lodgings that meet 's standards of comfort, service and authenticity
											</span>
											<ul class="clear_list_style attribute_list">
												<!-- Page flip brochure -->
												<li>
													<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=230" title="View Worldwide Hotel Portfolio 2013" rel="Worldwide Hotel Portfolio 2013 [230]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).get('rel')); return false;">View Online</a>
												</li>
												<!-- Download brochure -->
												<li>
													<a class="icon download" href="/travel_brochures/?fuseaction=dsp_brochure_download&amp;brid=230&amp;cbc=Worldwide Hotel Portfolio 2013" onclick="recordIt('Brochure Download PDF','','')">Download PDF</a>
												</li>
												<!-- Order brochure -->
												<li>
													<input type="checkbox" name="brid_list" value="230">
													<a href="javascript:void(0);" class="brochure_order_link">Request Brochure</a>
												</li>
											</ul>
										</td>
										<!-- COLUMN 2 -->
										<td width="33%">
											<img src="/assets_global/media/images/brochure_covers/travel-magazine-sundowner-winter-2013.jpg" alt=" Sundowner Magazine Winter 2013" title="Sundowner Magazine Winter 2013" width="125" height="162">
											<strong>Sundowner Magazine Winter 2013</strong>
											<br>
											<span></span>
											<ul class="clear_list_style attribute_list">
												<!-- Page flip brochure -->
												<li>
													<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=231" title="View Sundowner Magazine Winter 2013" rel="Sundowner Magazine Winter 2013 [231]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).get('rel')); return false;">View Online</a>
												</li>
												<!-- Download brochure -->
												<li>
													<a class="icon download" href="/travel_brochures/?fuseaction=dsp_brochure_download&amp;brid=231&amp;cbc=Sundowner Magazine Winter 2013" onclick="recordIt('Brochure Download PDF','','')">Download PDF</a>
												</li>
												<!-- Order brochure -->
												<li>
													<input type="checkbox" name="brid_list" value="231">
													<a href="javascript:void(0);" class="brochure_order_link">Request Brochure</a>
												</li>
											</ul>
										</td>
										<!-- COLUMN 3 -->
										<td width="33%">
											<img src="/assets_global/media/images/brochure_covers/travel-magazine-sundowner-fall-2012.jpg" alt=" Sundowner Magazine Fall 2012" title="Sundowner Magazine Fall 2012" width="125" height="162">
											<strong>Sundowner Magazine Fall 2012</strong>
											<br>
											<span>
												Enjoy features on Peru, Africa's Maasai, travel apps and Connections group journeys
											</span>
											<ul class="clear_list_style attribute_list">
												<!-- Page flip brochure -->
												<li>
													<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=229" title="View Sundowner Magazine Fall 2012" rel="Sundowner Magazine Fall 2012 [229]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).get('rel')); return false;">View Online</a>
												</li>
												<!-- Download brochure -->
												<li>
													<a class="icon download" href="/travel_brochures/?fuseaction=dsp_brochure_download&amp;brid=229&amp;cbc=Sundowner Magazine Fall 2012" onclick="recordIt('Brochure Download PDF','','')">Download PDF</a>
												</li>
												<!-- Order brochure -->
												<li>
													<input type="checkbox" name="brid_list" value="229">
													<a href="javascript:void(0);" class="brochure_order_link">Request Brochure</a>
												</li>
											</ul>
										</td>
									</tr>
									<tr>
										<!-- COLUMN 1 -->
										<td width="33%">
											<img src="/assets_global/media/images/brochure_covers/2012/alop.jpg" alt="A Legacy of Philanthropy" title="A Legacy of Philanthropy" width="125" height="162">
											<strong>A Legacy of Philanthropy</strong>
											<br>
											<span>
												Learn how  preserves habitats, protects wildlife and supports indigenous peoples
											</span>
											<ul class="clear_list_style attribute_list">
												<!-- Page flip brochure -->
												<li>
													<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=222" title="View A Legacy of Philanthropy" rel="A Legacy of Philanthropy [222]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).get('rel')); return false;">View Online</a>
												</li>
												<!-- Download brochure -->
												<li>
													<a class="icon download" href="/travel_brochures/?fuseaction=dsp_brochure_download&amp;brid=222&amp;cbc=A Legacy of Philanthropy" onclick="recordIt('Brochure Download PDF','','')">Download PDF</a>
												</li>
												<!-- Order brochure -->
											</ul>
										</td>
										<!-- COLUMN 2 -->
										<td width="33%"></td>
										<!-- COLUMN 3 -->
										<td width="33%"></td>
									</tr>
								</tbody>
							</table>
							<!-- SUBMIT BUTTON -->
							<div style="text-align:center;">
								<hr>
								<br>
								<input id="brochure_request_submit_button" type="button" value="Request Brochure"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>