<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
	<li>
		<a href="/">首页</a>
		&nbsp;&nbsp;/&nbsp;&nbsp;
	</li>
	<li>Special Offers</li>
</ul>
<div class="self_clear">
	<div id="secondary_content" class="hide_from_print">
		<div id="cs_control_3131" class="">
			<div class="CS_Element_Schedule" id="CS_Element_contentleft">
				<a name="customcf3135" id="customcf3135"></a>
				<a name="CP_JUMP_3135" id="CP_JUMP_3135"></a>
				<div id="cs_control_3135" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_1393_3135">
						<h3>Special Offers By</h3>
						<dl class="section clear_list_style">
							<dt>Promotions &amp; Savings</dt>
							<dd>
								<ul class="bullet_list">
									<li id="navigation_active">
										<a href="/travel_specials/">View All Special Offers</a>
									</li>
									<li>
										<a href="/nyt-2012.cfm">NYT: The 45 Places to Go in 2012</a>
									</li>
								</ul>
							</dd>
							<dt>Travel Destination</dt>
							<dd>
								<ul class="bullet_list">
									<li>
										<a href="/travel_specials/?tdgf=4&amp;cbc=Africa Special Offers">Africa</a>
									</li>
									<li>
										<a href="/travel_specials/?tdgf=21&amp;cbc=Arctic Special Offers">Arctic</a>
									</li>
									<li>
										<a href="/travel_specials/?tdgf=7&amp;cbc=Asia Special Offers">Asia</a>
									</li>
									<li>
										<a href="/travel_specials/?tdgf=8&amp;cbc=Egypt%20%26amp%3B%20Middle%20East Special Offers">Egypt &amp; Middle East</a>
									</li>
									<li>
										<a href="/travel_specials/?tdgf=9&amp;cbc=Europe Special Offers">Europe</a>
									</li>
									<li>
										<a href="/travel_specials/?tdgf=20&amp;cbc=India Special Offers">India</a>
									</li>
									<li>
										<a href="/travel_specials/?tdgf=11&amp;cbc=Latin%20America%20%26amp%3B%20Gal%C3%A1pagos Special Offers">Latin America &amp; Galápagos</a>
									</li>
									<li>
										<a href="/travel_specials/?tdgf=-1&amp;cbc=Other Special Offers">Other</a>
									</li>
								</ul>
							</dd>
							<dt>Travel Interest</dt>
							<dd>
								<ul class="bullet_list">
									<li>
										<a href="/travel_specials/?tif=723&amp;cbc=Luxury%20Small%20Group%20Journeys Special Offers">Luxury Small Group Journeys</a>
									</li>
									<li>
										<a href="/travel_specials/?tif=690&amp;cbc=Private%20Luxury%20Journeys Special Offers">Private Luxury Journeys</a>
									</li>
									<li>
										<a href="/travel_specials/?tif=699&amp;cbc=MPC%20Limited%20Edition%20Journeys Special Offers">MPC Limited Edition Journeys</a>
									</li>
									<li>
										<a href="/travel_specials/?tif=691&amp;cbc=Adventure%20Cruises Special Offers">Adventure Cruises</a>
									</li>
									<li>
										<a href="/travel_specials/?tif=719&amp;cbc=African%20Safari Special Offers">African Safari</a>
									</li>
									<li>
										<a href="/travel_specials/?tif=692&amp;cbc=Canal%20%26%20River%20Cruising Special Offers">Canal &amp; River Cruising</a>
									</li>
									<li>
										<a href="/travel_specials/?tif=717&amp;cbc=Solo%20Travel Special Offers">Solo Travel</a>
									</li>
									<li>
										<a href="/travel_specials/?tif=716&amp;cbc=Signature%20Series Special Offers">Signature Series</a>
									</li>
									<li>
										<a href="/travel_specials/?tif=-1&amp;cbc=Other Special Offers">Other</a>
									</li>
								</ul>
							</dd>
						</dl>
					</div>
				</div>
				<a name="customcf3972" id="customcf3972"></a>
				<a name="CP_JUMP_3972" id="CP_JUMP_3972"></a>
				<div id="cs_control_3972" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_1393_3972">
						<div class="end_cap"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="dMainFBContest"></div>
	</div>
	<div id="primary_content" class="align_edges">
		<div id="cs_control_1329" class="">
			<div class="CS_Element_Schedule" id="CS_Element_content">
				<a name="customcf1644" id="customcf1644"></a>
				<a name="CP_JUMP_1644" id="CP_JUMP_1644"></a>
				<div id="cs_control_1644" class="cs_control CS_Element_CustomCF">
					<div id="CS_CCF_1393_1644">
						<div id="special_offers">
							<h1>Special Offers</h1>
							<!-- OFFER -->
							<div class="special_offer self_clear nth-child-first">
								<img src="http://www.xxx.com/assets_global/media/images/thumbnails/arctic/arctic-cruise3.jpg" alt="Save Up to $1,500 Per Person on a 2014 Arctic Cruise Adventure" width="100" height="100" class="hoverZoomLink">
								<div>
									<h3>
										Save Up to $1,500 Per Person on a 2014 Arctic Cruise Adventure
									</h3>
									<p>
										Save up to $1,500 per person when you reserve a Category 1-3 cabin on&nbsp;a 2014 Arctic Cruise&nbsp;by September 30, 2013.
									</p>
									<p>
										<a href="javascript:void(0);" class="icon swirl_arrow" onclick="toggle_visibility(this); ">View Offer Details</a>
									</p>
									<span id="a296" style="display:none;">
										<p>Journeys include:</p>
										<p>
											<a href="https://www.xxx.com/travel/?fuseaction=dsp_description&amp;tid=5820">
												Arctic Cruise Adventure: Norway, Greenland &amp;&nbsp;Iceland
											</a>
										</p>
										<ul>
											<li>
												Aug 7-21, 2014; save $1,500 per person on Category 1-3 cabins
											</li>
										</ul>
										<p>
											<a href="https://www.xxx.com/travel/?tid=5824">Arctic Cruise Norway:&nbsp;Polar Bears &amp; Midnight Sun</a>
										</p>
										<ul>
											<li>
												Jul 29-Aug 9, 2014; save $1,000 per person on Category 1-3 cabins
											</li>
										</ul>
										<p>
											Terms &amp; Conditions: Early Booking Discount is limited to double occupancy bookings only in Cabin Categories 1 to 3. Offer is not valid for single bookings, is subject to availability and may be withdrawn at any time. Other restrictions may apply.
										</p>
									</span>
								</div>
							</div>
							<!-- OFFER -->
							<div class="special_offer self_clear">
								<img src="http://www.xxx.com/assets_global/media/images/thumbnails/africa/wings_over_botswana_journeys_for_women.jpg" alt="Solo Savings Available" width="100" height="100">
								<div>
									<h3>Solo Savings Available</h3>
									<p>
										The single supplement has been waived or reduced significantly on select departures of our popular escorted programs.
									</p>
									<p>
										<a href="javascript:void(0);" class="icon swirl_arrow" onclick="toggle_visibility(this);">View Offer Details</a>
									</p>
									<span id="a295" style="display:none;">
										<p>
											<a href="https://www.xxx.com/travel/?tid=5596">Best of South Africa &amp; Botswana:</a>
										</p>
										<ul>
											<li>
												Save $2,700 on the single supplement on the Sep 30 departure.
											</li>
										</ul>
										<p>
											<a href="https://www.xxx.com/travel/?tid=5597">Zambia &amp;&nbsp;Botswana Wildlife Safari:</a>
										</p>
										<ul>
											<li>Single supplement is waived on the Oct 8 departure.</li>
										</ul>
										<p>
											<a href="https://www.xxx.com/travel/?tid=5590">The Snows of Kilimanjaro:</a>
										</p>
										<ul>
											<li>
												Single supplement is waived on the Oct 12 and Dec 19 departures.
											</li>
										</ul>
										<p>
											<a href="https://www.xxx.com/travel/?tid=5587">Kenya Wildlife Safari:</a>
										</p>
										<ul>
											<li>Single supplement is waived on the Oct 7 departure.</li>
										</ul>
										<p>
											<a href="https://www.xxx.com/travel/?tid=5589">Tanzania Wildlife Safari:</a>
										</p>
										<ul>
											<li>
												Single supplement is waived on the Sep 18 and Nov 6 departures.
											</li>
										</ul>
										<p>
											<a href="https://www.xxx.com/travel/?tid=5639">Turkey: A Journey through History:</a>
										</p>
										<ul>
											<li>
												Save $1,000 on the single supplement on the Sep 8 and 29 departures.
											</li>
										</ul>
										<p>
											<a href="https://www.xxx.com/travel/?tid=5627">Treasures of Croatia:</a>
										</p>
										<ul>
											<li>
												&nbsp;Save 50% on the single supplement on the Oct 6 departure.
											</li>
										</ul>
										<p>
											<a href="http://www.xxx.com/travel/?tid=5606">China: Yangtze Passage:</a>
										</p>
										<ul>
											<li>
												Save 50% on the single supplement on the Jul 24 and&nbsp;Aug 28 departures&nbsp;or 20% on the&nbsp;Oct 16 departure.
											</li>
										</ul>
										<p>
											<a href="https://www.xxx.com/travel/?tid=5629">Splendors of Budapest, Vienna &amp; Prague:</a>
										</p>
										<ul>
											<li>
												Save 25%&nbsp;on the single supplement on the Sep 3 departure.
											</li>
										</ul>
										<p>
											<a href="https://www.xxx.com/travel/?tid=5686">Splendors of Egypt:</a>
										</p>
										<ul>
											<li>
												Save 50%&nbsp;on the single supplement on the Sep 7 departure.
											</li>
										</ul>
										<p>&nbsp;</p>
									</span>
								</div>
							</div>
							<!-- OFFER -->
							<div class="special_offer self_clear">
								<img src="http://www.xxx.com/assets_global/media/images/thumbnails/india/signature_india_1.jpg" alt="Book a Signature Series Journey and Your Companion Saves 25%" width="100" height="100">
								<div>
									<h3>Book a Signature Series Journey and Your Companion Saves 25%</h3>
									<p>
										Book a select&nbsp;
										<a href="http://www.xxx.com/search.cfm?scrs=70">Signature Series&nbsp;Journey</a>
										at full price and your travelling companion&nbsp;receives 25% off their fare.
									</p>
									<p>
										<a href="javascript:void(0);" class="icon swirl_arrow" onclick="toggle_visibility(this); ">View Offer Details</a>
									</p>
									<span id="a286" style="display:none;">
										<p>Journeys include:</p>
										<p>South America:</p>
										<ul>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5733&amp;fuseaction=dsp_dates">Signature Ecuador &amp; the Galápagos:</a>
												June 1
											</li>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5673&amp;fuseaction=dsp_dates">Signature Peru &amp; Machu Picchu:</a>
												Gold (June 14; July 5) Silver (May 31; June 14; July 5, 19)
											</li>
											<li>
												<a href="http://www.xxx.com/travel/?fuseaction=dsp_dates&amp;tid=5679">Signature Peru &amp; the Galápagos:</a>
												Gold &amp; Silver (July 21)
											</li>
										</ul>
										<p>Europe:</p>
										<ul>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5676&amp;fuseaction=dsp_dates">Signature Croatia:</a>
												Gold (April 21; June 16) Silver (June 16, 30; July 7)&nbsp;
											</li>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5674&amp;fuseaction=dsp_dates">Signature Budapest, Vienna &amp; Prague:</a>
												Gold (May 21; July 2, 16, 30) Silver (April 23; June 4, 18; July 16, 30)
											</li>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5671&amp;fuseaction=dsp_dates">Signature Italy:</a>
												Gold &amp; Silver&nbsp;(April 28; May 19; July 21)
											</li>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5739&amp;fuseaction=dsp_dates">Signature Russia:</a>
												Gold &amp; Silver&nbsp;(April 27; May 18; June 1, 8, 29; July 27)
											</li>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5680&amp;fuseaction=dsp_dates">Signature Turkey:</a>
												Gold (April 19; May 10; June 14; July 12) Silver (April 19; June 14; July 12)
											</li>
										</ul>
										<p>Asia:</p>
										<ul>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5667&amp;fuseaction=dsp_dates">Signature China &amp; the Yangtze:</a>
												April 17; May 15, 22; June 5&nbsp;
											</li>
										</ul>
										<p>Middle East:</p>
										<ul>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5668&amp;fuseaction=dsp_dates">Signature Egypt &amp; the Nile:</a>
												April 19, 26; May 17; July 12, 19, 26&nbsp;
											</li>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5729&amp;fuseaction=dsp_dates">Signature Israel:</a>
												Silver (April 20)
											</li>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5742&amp;fuseaction=dsp_dates">Signature Jordan:</a>
												May 26; June 9, 16, 30; July 7
											</li>
										</ul>
										<p>Africa:</p>
										<ul>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5730&amp;fuseaction=dsp_dates">Signature Kenya:</a>
												July 5, 12
											</li>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5672&amp;fuseaction=dsp_dates">Signature Kenya &amp; Tanzania:</a>
												Silver (July 7, 21)
											</li>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5677&amp;fuseaction=dsp_dates">Signature Wings Over Botswana:</a>
												April 18; May 16, 23, 30; June 6, 13; July 18, 25&nbsp;
											</li>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5743&amp;fuseaction=dsp_dates">Signature Morocco:</a>
												&nbsp;May 18; June 1, 8, 15&nbsp;
											</li>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5675&amp;fuseaction=dsp_dates">Signature Tanzania:</a>
												July 7; August 4
											</li>
											<li>
												<a href="http://www.xxx.com/travel/?tid=5678&amp;fuseaction=dsp_dates">Signature Zambia &amp; Botswana:</a>
												July 16, 23
											</li>
										</ul>
										<p> <em>Savings valid on participating Signature Series journeys departing&nbsp;through July&nbsp;2013 and applies to the second booking only. Guests must be travelling on the same journey to be eligible. Cannot be combined with any other discounts or promotions. International airfare not included. Other restrictions apply.</em> 
										</p>
									</span>
								</div>
							</div>
							<!-- OFFER -->
							<div class="special_offer self_clear">
								<img src="http://www.xxx.com/assets_global/media/images/thumbnails/europe/highlights_of_paris_and_normandy.jpg" alt="Save up to 15% on 's New European Tailor Made Elements" width="100" height="100">
								<div>
									<h3>
										Save up to 15% on 's New European Tailor Made Elements
									</h3>
									<p>
										Mix and match 's new European
										<a href="http://www.xxx.com/search.cfm?kwf=Tailor+Made+Elements">Tailor Made Elements</a>
										to combine your perfect independent itinerary.
									</p>
									<p>
										<a href="javascript:void(0);" class="icon swirl_arrow" onclick="toggle_visibility(this); ">View Offer Details</a>
									</p>
									<span id="a285" style="display:none;">
										<p>
											Save up to 15% on travel through August 31, 2013 when reserved by April 30, 2013. Book one Tailor Made Element to save 5%, two to receive 10% and three or more to receive 15% savings.
										</p>
										<p> <em>Discount applies only to Tailor Made Elements as published in 's 2013 Private Travel brochure. Offer applies to bookings made by April 30, 2013, for travel through August 2013. Cannot be combined with any other discounts or promotions. Other restrictions may apply.</em> 
										</p>
									</span>
								</div>
							</div>
							<!-- OFFER -->
							<div class="special_offer self_clear">
								<img src="http://www.xxx.com/assets_global/media/images/thumbnails/canal_and_river_cruising_in_europe/renaissance_western_burgundy_and_upper_loire.jpg" alt="Special Savings on European Canal &amp; River Cruises" width="100" height="100">
								<div>
									<h3>Special Savings on European Canal &amp; River Cruises</h3>
									<p>
										A journey aboard one of the small boats that cruises rivers and rural canals is one of the most relaxing ways possible to enjoy Europe. Visit some of Europe’s most wondrous sights on excursions; stop in quaint riverside villages; and sample the region's finest cuisine and wines along the way.
									</p>
									<p>
										<a href="http://www.xxx.com/travel_specials/index.cfm?tif=692&amp;cbc=Canal%20%26amp%3B%20River%20Cruising%20Special%20Offers" class="icon swirl_arrow" onclick="">Learn More</a>
									</p>
								</div>
							</div>
							<!-- OFFER -->
							<div class="special_offer self_clear">
								<img src="http://www.xxx.com/assets_global/media/images/thumbnails/brazil/signature-brazil-1.jpg" alt="Save $1,600 Per Person on 2013 Signature Brazil" width="100" height="100">
								<div>
									<h3>Save $1,600 Per Person on 2013 Signature Brazil</h3>
									<p>
										Reserve a 2013
										<a href="http://www.xxx.com/travel/?tid=5738">Signature Brazil</a>
										trip and save $1,600 per person.
									</p>
								</div>
							</div>
							<h3>Terms &amp; Conditions</h3>
							<p>
								<em>
									For all Special Offers noted above, all prices are per person, based on double occupancy, unless otherwise stated. All prices are quoted in U.S. Dollars. Prices listed for each offer may pertain to specific departure dates. Restrictions and blackout dates may apply. Special Offers are for new bookings only, are not combinable with any other offer, discount or promotion and are based on availability.
								</em>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<% content_for :footer do %>
<script>
var toggle_visibility=function(a){
	var elem = $(a).parent().next();
	if(elem.css("display")== 'none')
		elem.show();
	else
	{
		elem.hide();   			
	}
}
</script>
<% end %>		