		<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
			<li>
				<img src="" width="90" height="1"></li>
			<li>
				<a href="/">首页</a>
			</li>
			<li>
				&nbsp;&nbsp;/&nbsp;&nbsp;
				<a href="/search.cfm">Search</a>
			</li>
			<li>
				&nbsp;&nbsp;/&nbsp;&nbsp;
				<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=0&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1">Search Results (20)</a>
			</li>
			<li>
				&nbsp;&nbsp;/&nbsp;&nbsp;Taj Mahal &amp; the Treasures of India
			</li>
		</ul>
		<div class="self_clear">
			<div id="secondary_content" class="hide_from_print">
				<!-- RELATED BROCHURES -->
				<div class="hl3">Related Brochures</div>
				<div class="section">
					<div class="related_brochure self_clear">
						<p>
							<img src="/images/travel-brochure-small-group-luxury-journeys-2013.jpg" width="93" height="120" alt=" Luxury Small Group Journeys 2013" title="Luxury Small Group Journeys 2013 brochure">Luxury Small Group Journeys 2013</p>
						<ul>
							<li>
								<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=223" title="View Luxury Small Group Journeys 2013" rel="Luxury Small Group Journeys 2013 [223]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).attr('rel')); return false;">View</a>
							</li>
							<li>
								<a class="icon download" href="/travel_brochures/?fuseaction=act_brochure_download&amp;brid=223" onclick="recordIt('Brochure Download PDF','','')">Download</a>
							</li>
							<li>
								<a class="icon request_brochure" href="/travel_brochures/?brid=223">Request</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="section">
					<div class="related_brochure self_clear">
						<p>
							<img src="/images/travel-brochure-private-travel-2013.jpg" width="93" height="120" alt="Luxury Private Travel 2013" title="Luxury Private Travel 2013 brochure">Luxury Private Travel 2013</p>
						<ul>
							<li>
								<a class="icon page_flip" href="/travel_brochures/?fuseaction=act_brochure_view&amp;brid=228" title="View Luxury Private Travel 2013" rel="Luxury Private Travel 2013 [228]" target="_blank" onclick="window.open($(this).attr('href'),'page_flip_win','toolbar=no,fullscreen=yes,channelmode=yes'); pageTracker._trackEvent('Brochure', 'Pageflip', $(this).attr('rel')); return false;">View</a>
							</li>
							<li>
								<a class="icon download" href="/travel_brochures/?fuseaction=act_brochure_download&amp;brid=228" onclick="recordIt('Brochure Download PDF','','')">Download</a>
							</li>
							<li>
								<a class="icon request_brochure" href="/travel_brochures/?brid=228">Request</a>
							</li>
						</ul>
					</div>
					<p>
						<a class="icon swirl_arrow" href="/brochures">View All Brochures</a>
					</p>
				</div>
				<!-- DOWNLOAD TRIP FACTS -->
				<div class="hl3">Trip Information</div>
				<dl class="section clear_list_style">
					<dt>Taj Mahal &amp; the Treasures of India</dt>
				</dl>
				<div class="section">
					<div class="travel-tips">
						<img src="/images/trip-pdf-download.gif" width="59" height="61">
						<p>
							<br>
							<a class="icon download" href="/assets_global/media/pdf/travel_tips/Taj-Mahal-and-Treasures-of-India-2013.pdf" target="_blank">Download Travel Tips</a>
							<br>
							<br>
							<br></p>
					</div>
					<ul class="clear_list_style">
						<li>
							<a class="icon article" href="/travel/terms_and_conditions.cfm?tid=5628" onclick="window.open(this.href,'TNC_win','height=500,width=830,toolbars=no,scrollbars=yes,location=no,resizable=yes'); return false;" target="_blank" title="">Terms &amp; Conditions</a>
						</li>
					</ul>
				</div>
				<!-- RELATED INFORMATION-->
				<dl class="section clear_list_style">
					<dt>Photo Gallery</dt>
					<dd>
						<ul class="bullet_list">
							<li>
								<a href="javascript:void(0);" title="Pashan Garh" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-6817');">Pashan Garh</a>
							</li>
							<li>
								<a href="javascript:void(0);" title="Rambagh Palace" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-4296');">Rambagh Palace</a>
							</li>
							<li>
								<a href="javascript:void(0);" title="Taj Lake Palace" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-1281');">Taj Lake Palace</a>
							</li>
							<li>
								<a href="javascript:void(0);" title="The Gateway Hotel Ganges Varanasi" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-2277');">The Gateway Hotel Ganges Varanasi</a>
							</li>
							<li>
								<a href="javascript:void(0);" title="The Oberoi Amarvilás" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-2021');">The Oberoi Amarvilás</a>
							</li>
							<li>
								<a href="javascript:void(0);" title="The Taj Mahal Hotel" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-2265');">The Taj Mahal Hotel</a>
							</li>
							<li>
								<a href="javascript:void(0);" title="The Taj Mahal Palace" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-7058');">The Taj Mahal Palace</a>
							</li>
						</ul>
					</dd>
					<dt>India Information</dt>
					<dd>
						<ul class="bullet_list">
							<li>
								<a href="/assets_global/media/images/weather/best-time-to-visit-india.gif" onclick="window.open(this.href,'climate_win','height=250,width=340,toolbars=no,scrollbars=auto,location=no,resizable=yes'); return false;" target="_blank" title="" class="hoverZoomLink">Climate</a>
							</li>
							<li>
								<a href="https://www.cia.gov/library/publications/the-world-factbook/geos/in.html" target="_blank" title="">World Fact Book</a>
							</li>
							<li>
								<a href="http://wwwnc.cdc.gov/travel/destinations/india.htm" target="_blank" title="">CDC Information</a>
							</li>
						</ul>
					</dd>
					<dt>Travel Store</dt>
					<dd>
						<ul class="bullet_list">
							<li>
								<a href="http://www.longitudebooks.com/find/d/2926/r/AK/mcms.html" target="_blank" title="">Essential Reading</a>
							</li>
							<li>
								<a href="/travel_store/currency.cfm" title="">Foreign Currency</a>
							</li>
							<li>
								<a href="/travel_store/luggage.cfm" title="">Luggage Delivery</a>
							</li>
							<li>
								<a href="http://usa.thetraveloutfitter.com/index.php?cPath=34_65" target="_blank" title="">Recommended Clothing</a>
							</li>
							<li>
								<a href="/travel_store/satellite_phone.cfm" title="">Satellites &amp; Global Phones</a>
							</li>
							<li>
								<a href="/travel_store/travel_insurance/" title="">Travel Insurance</a>
							</li>
							<li>
								<a href="/travel_store/visa_expedition.cfm" title="">Visas &amp; Passports</a>
							</li>
						</ul>
					</dd>
				</dl>
				<div class="end_cap"></div>
				<a href="/search.cfm?scrs=70" onclick="pageTracker._trackEvent('Banner', 'click', 'Signature Series Banner');"></a>
				<div id="dMainFBContest"></div>
			</div>
			<div id="primary_content" class="align_edges">
				<iframe style="position:absolute; left:-9999px;" id="print-frame" src="/images/transparent.gif"></iframe>
				<!-- PRIMARY HEADING -->
				<h1>Taj Mahal &amp; the Treasures of India</h1>
				<h4 class="clear_margins icon luxury amp" style="padding-top:2px;">
					Luxury Small Group Journeys: The finest small-group travel experience
				</h4>
				<!-- LIVEPERSON -->
				<!-- LINK LIST -->
				<ul class="attribute_list">
					<li>
						<a class="icon download" href="/travel_brochures/?fuseaction=act_brochure_download&amp;tid=5628&amp;brid=223" title="Download a PDF of Taj Mahal &amp; the Treasures of India ">Download Trip PDF</a>
					</li>
					<li>
						<a class="icon share" title="Send this Trip to a Friend" href="/travel/send_trip_to_friend.cfm?tid=5628" onclick="window.open('/travel/send_trip_to_friend.cfm?tid=5628', 'myWindow', 'toolbar=no, directories=no, location=no, status=yes, menubar=no, resizable=yes, scrollbars=yes, width=600, height=550'); return false" target="_blank">Send this Trip to a Friend</a>
					</li>
					<li>
						<a rel="nofollow" class="icon print" title="Print This Trip" href="/print/dsp_trip.cfm?tid=5628" onclick="window.open('/print/dsp_trip.cfm?tid=5628', 'myWindow', 'toolbar=yes, directories=no, location=no, status=yes, menubar=no, resizable=yes, scrollbars=yes, width=1060, height=800'); return false" target="_blank">Print This Trip</a>
					</li>
				</ul>
				<!-- TRIP NAVIGATION -->
				<div id="trip_navigation_top" class="self_clear padding_6_tabs">
					<ul>
						<li class="current">
							<a href="#tab1" title="Overview">Overview</a>
						</li>
						<li>
							<a href="#tab2" title="Itinerary">Itinerary</a>
						</li>
						<li>
							<a href="#tab3" title="Dates &amp; Prices">Dates &amp; Prices</a>
						</li>
						<li>
							<a href="#tab4" title="Extensions">Extensions</a>
						</li>
						<li>
							<a href="#tab5" title="Ask a Question">Ask a Question</a>
						</li>
					</ul>
				</div>

				<!-- TRIP OVERVIEW -->
				<div id="tab1" class="tab_item">
					<h2>Overview</h2>
					<div class="trip_overview">
						<div class="self_clear">
							<div id="mini_map">
								<img style="left:146px; top:44px;" title="India" alt="India" src="/images/small_map_marker.gif" width="9" height="9"></div>
							<img src="/images/treasures_of_northern_india.jpg" alt="View details for Taj Mahal &amp; the Treasures of India" title="View details for Taj Mahal &amp; the Treasures of India" width="125" height="125">
							<ul class="align_edges line_rule clear_margins">
								<li>
									<span>
										<a class="icon luxury amp" href="javascript:void(0);" onclick="getSeriesOverlay('54')" title="Luxury Small Group Journeys">Luxury Small Group Journeys</a>
									</span>
									Series:
								</li>
								<li>
									<span>$8,295</span>
									Priced From:
								</li>
								<li>
									<span>15</span>
									Days:
								</li>
								<li>
									<span>16</span>
									Departures:
								</li>
								<li>
									<span>18</span>
									Max Group Size:
								</li>
							</ul>
						</div>
					</div>
					<p>
						This journey offers a delightful panorama of India's best. Visit the Taj Mahal, observe a holy ceremony on the banks of the Ganges and savor the hospitality of royal palaces turned luxury hotels.
					</p>
					<!-- & MOMENTS -->
					<h2> Advantages</h2>
					<ul class="clear_list_indent">
						<li>
							Throughout the journey, stay in actual former palaces, including iconic royal residences, such as the Taj Lake Palace in Udaipur and grand Rambagh Palace in Jaipur
						</li>
						<li>
							Experience India by water in three destinations - from Mumbai Harbour to Elephanta Island, Udaipur's serene Lake Pichola and along the holy Ganges River
						</li>
						<li>
							Explore the countryside of Jaipur during an elephant ride conducted by an expert <em>mahout</em>
							(trainer)
						</li>
						<li>
							Stay two nights in Panna National Park, home to leopards, sloth bears, wolves and the mysterious Bengal tiger
						</li>
						<li>
							Explore some of the world's most impressive UNESCO World Heritage Sites: The Taj Mahal, Khajuraho, Fatehpur Sikri, Agra Fort and the temples of Elephanta Island
						</li>
					</ul>
				</div>
				<div id="tab2" class="hide tab_item">
					<div class="take-private self_clear">
						<span class="hl4 float_left">Take This Journey Private</span>
						<p>
							This itinerary is available as an
							<a href="/travel/?fuseaction=dsp_itinerary&amp;tid=5669">independent journey</a>
							led by local guides.
						</p>
					</div>
					<h2>Itinerary</h2>
					<img class="float_right" src="/images/India-map.jpg">
					<dl class="itinerary">
						<dt>Day 1: Arrive Mumbai, India</dt>
						<dd>
							<p>
								Arrive in Mumbai, perhaps from your pre-tour extension to Aurangabad. On arrival, an  representative meets you and transfers to your iconic hotel.
							</p> <em><a class="icon camera_white" href="#" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-7058');  pageTracker._trackEvent('Gallery', 'Image', jQuery(this).attr('text')); return false;">The Taj Mahal Palace</a></em> 
						</dd>
						<dt>Day 2: Mumbai</dt>
						<dd>
							<p>
								Explore the city’s classic sights, including the Gateway of India, an
						85-foot-high arch whose design reflects India’s Muslim and Hindu
						traditions. Visit the Prince of Wales Museum and Mani Bhawan, a
						small museum dedicated to the life and works of Mahatma Gandhi.
						See the Dhobi Ghat, the largest open-air laundry in the world and
						a sight to behold as hundreds of men and women hand-wash sheets
						and garments. Enjoy a welcome dinner alongside fellow guests.
							</p>
							<em><a class="icon camera_white" href="#" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-7058');  pageTracker._trackEvent('Gallery', 'Image', jQuery(this).attr('text')); return false;">The Taj Mahal Palace</a></em> 
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<em>Meals: B D</em>
						</dd>
						<dt>Day 3: Mumbai/Udaiput</dt>
						<dd>
							<p>
								This morning, privately cruise Mumbai Harbour to Elephanta
						Island, a UNESCO World Heritage Site. Explore the island’s world renowned
						temples, which are carved directly out of the basalt rock
						and filled with ornamental statues, pillars and friezes dedicated to
						the Hindu god Shiva. Later this afternoon, fly to Udaipur and check
						in to your romantic hotel. After settling in, take in the magnificent
						views of the City and Jag Mandir palaces from the hotel’s many
						balconies, and stroll its interior courtyard gardens.
							</p>
							<em>
								<a class="icon camera_white" href="#" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-1281');  pageTracker._trackEvent('Gallery', 'Image', jQuery(this).attr('text')); return false;">Taj Lake Palace</a>
							</em>
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<em>Meals: B D</em>
						</dd>
						<dt>Day 4: Udaipur</dt>
						<dd>
							<p>
								Visit the City Palace, a marble complex of palaces and galleries that
					offers unforgettable views of the lake and its surroundings. Take
					a private tour of the Crystal Gallery in Fateh Prakesh Palace, and
					stroll through Sahelion Ki Bari (Garden of the Maids of Honor).
					Following an afternoon at leisure, enjoy a private cruise to Jag
					Mandir, a palace of splendidly carved marble on an island in the
					middle of Lake Pichola. Later, attend a candlelit performance of
					Indian folk dancing.
							</p>
							<em>
								<a class="icon camera_white" href="#" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-1281');  pageTracker._trackEvent('Gallery', 'Image', jQuery(this).attr('text')); return false;">Taj Lake Palace</a>
							</em>
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<em>Meals: B</em>
						</dd>
						<dt>Day 5: Udaipur/Jaipur</dt>
						<dd>
							<p>
								After breakfast, travel overland to Jaipur, known as the “pink city”
						for the abundance of pink plastered stone used to build its massive
						forts, magnificent palaces and exquisite temples. Arrive at your
						hotel, the former residence of the Maharajah of Jaipur. Tonight, join
						fellow guests for traditional entertainment on the lawn, followed by
						a Rajasthani dinner.
							</p>
							<em>
								<a class="icon camera_white" href="#" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-4296');  pageTracker._trackEvent('Gallery', 'Image', jQuery(this).attr('text')); return false;">Rambagh Palace</a>
							</em>
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<em>Meals: B D</em>
						</dd>
						<dt>Day 6: Jaipur</dt>
						<dd>
							<p>
								This morning, explore the Amber Fort; its Mughal-style façade
						seems to grow out of the rugged hills. Later, head to a village for
						a pleasant elephant ride through the countryside with the help
						of a
								<em>mahout</em>
								(trainer). Visit Jantar Mantar, an open-air array of
						astronomical instruments that includes the world’s largest sundial.
						View the nearby Palace of the Winds, with its ornately screened
						windows that allowed the women of the palace to gaze out onto the
						street unobserved.
							</p>
							<em>
								<a class="icon camera_white" href="#" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-4296');  pageTracker._trackEvent('Gallery', 'Image', jQuery(this).attr('text')); return false;">Rambagh Palace</a>
							</em>
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<em>Meals: B L</em>
						</dd>
						<dt>Day 7: Jaipur/Agra</dt>
						<dd>
							<p>
								Travel to Fatehpur Sikri. Built by Emperor Akbar as his palace in
						the 16th century and then later abandoned, "ruined" Fatehpur Sikri
						is a fairy-tale ghost city of delicately carved red sandstone. Continue
						to Agra and your luxury hotel, catching your first glimpse of the
						Taj Mahal from your window.
							</p>
							<em>
								<a class="icon camera_white" href="#" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-2021');  pageTracker._trackEvent('Gallery', 'Image', jQuery(this).attr('text')); return false;">The Oberoi Amarvilás</a>
							</em>
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<em>Meals: B L D</em>
						</dd>
						<dt>Day 8: Agra</dt>
						<dd>
							<p>
								Today, visit two UNESCO World Heritage Sites: Agra Fort and the
						immortal Taj Mahal. Flawless in its proportions and breathtaking
						in its beauty, the Taj Mahal looks as though it were painted onto the
						sky itself — a vision of unrivaled magnificence. Pay your first visit
						to the masterpiece this morning, when the rising sun lends a warm
						pink tint to its marble face. Continue to the impressive Agra Fort.
						Built of red sandstone and marble, Agra Fort presents a formidable
						exterior and a graceful interior. Return to the Taj Mahal in the late
						afternoon, as the setting sun bathes the monument in soft orange,
						for another view of this iconic site.
							</p>
							<em>
								<a class="icon camera_white" href="#" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-2021');  pageTracker._trackEvent('Gallery', 'Image', jQuery(this).attr('text')); return false;">The Oberoi Amarvilás</a>
							</em>
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<em>Meals: B</em>
						</dd>
						<dt>Day 9: Agra/Jhansi/Panna National Park</dt>
						<dd>
							<p>
								Today you depart from Agra, taking an early morning express train
						to Jhansi, then continue overland by road to Orchha, visiting its
						17th-century abandoned palace. After lunch, continue to remote
						Panna National Park, checking in to your wilderness lodge.
							</p>
							<em>
								<a class="icon camera_white" href="#" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-6817');  pageTracker._trackEvent('Gallery', 'Image', jQuery(this).attr('text')); return false;">Pashan Garh</a>
							</em>
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<em>Meals: B L D</em>
						</dd>
						<dt>Day 10: Panna/Khajuraho/Panna</dt>
						<dd>
							<p>
								Head overland to the medieval temples of Khajuraho. Here, life in
						all its aspects — joy, love, divinity, war — is depicted in exquisite
						detail on every inch of the 85 sandstone Hindu and Jain temples.
						After lunch, continue exploring and then return to Panna for an
						evening at leisure. You may choose to relax at the lodge or take a dip
						in the infinity swimming pool overlooking a tranquil stream.
							</p>
							<em>
								<a class="icon camera_white" href="#" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-6817');  pageTracker._trackEvent('Gallery', 'Image', jQuery(this).attr('text')); return false;">Pashan Garh</a>
							</em>
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<em>Meals: B L D</em>
						</dd>
						<dt>Day 11: Panna/Varanasi</dt>
						<dd>
							<p>
								Take an early morning game drive on a four-wheel-drive vehicle
						over rocky terrain and through lush teak forests, perhaps spotting
						crocodiles along the Ken River or even the elusive Bengal tiger.
						After breakfast, fly to Varanasi, a city of more than a thousand
						Hindu and Buddhist temples and shrines, sacred to Hindus and
						Buddhists alike. At dusk, head to the banks of the sacred Ganges
						River to witness the Aarti ceremony. Take in the sounds of chanted
						prayers and rhythmic drumming as you watch the Hindu priests
						— holding lanterns to keep the darkness at bay — bid the gods and
						goddesses a restful slumber. Return to the hotel for dinner.
							</p>
							<em>
								<a class="icon camera_white" href="#" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-2277');  pageTracker._trackEvent('Gallery', 'Image', jQuery(this).attr('text')); return false;">The Gateway Hotel Ganges Varanasi</a>
							</em>
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<em>Meals: B D</em>
						</dd>
						<dt>Day 12: Varanasi</dt>
						<dd>
							<p>
								Today, you visit Varanasi’s highlights, including Banaras Hindu
						University; the 18th-century Durga Temple, devoted to the Hindu
						deity, Durga; and Bharat Mata Temple, dedicated by Mahatma
						Gandhi to Mother India. In the afternoon, explore nearby Sarnath,
						a park where Gautama Buddha is said to have given his first sermon
						25 centuries ago.
							</p>
							<em>
								<a class="icon camera_white" href="#" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-2277');  pageTracker._trackEvent('Gallery', 'Image', jQuery(this).attr('text')); return false;">The Gateway Hotel Ganges Varanasi</a>
							</em>
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<em>Meals: B</em>
						</dd>
						<dt>Day 13: Varanasi/Delhi</dt>
						<dd>
							<p>
								Today you rise early for a private sunrise cruise on the Ganges River
						for a view of the activity along the
								<em>ghats</em>
								, the embankments of stone
						steps leading down to the river and where the locals and pilgrims
						alike cleanse themselves, literally and spiritually. In the afternoon,
						fly to Delhi, India’s capital.  Gather tonight for a farewell dinner.
							</p>
							<em>
								<a class="icon camera_white" href="#" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-2265');  pageTracker._trackEvent('Gallery', 'Image', jQuery(this).attr('text')); return false;">The Taj Mahal Hotel</a>
							</em>
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<em>Meals: B D</em>
						</dd>
						<dt>Day 14: Delhi</dt>
						<dd>
							<p>
								Wind down your journey by discovering the best of Old and New
						Delhi. Visit the great Jama Masjid, the most important mosque in
						India. Then set off on an exciting rickshaw ride through Chandni
						Chowk, the bustling main street of Old Delhi, inching your way
						through a maze of ox carts filled with fresh produce, cars and the
						occasional wandering cow. Pause for lunch, and then visit New
						Delhi, including Humayun’s Tomb, a Mughal complex whose
						symmetrical designs prefigured the Taj Mahal.
							</p>
							<em>
								<a class="icon camera_white" href="#" onclick="getSlideShowImages2('get_photo_gallery','&amp;ci=1-2265');  pageTracker._trackEvent('Gallery', 'Image', jQuery(this).attr('text')); return false;">The Taj Mahal Hotel</a>
							</em>
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<em>Meals: B L</em>
						</dd>
						<dt>Day 15: Depart Delhi</dt>
						<dd>
							<p>Board your homebound flight.</p>
							<em></em>
							<em>Meals: B</em>
						</dd>
						<dt>Optional Pre-tour Extension: Aurangabad</dt>
						<dd>
							<p>
								Enhance your journey with a pre-tour small-group extension.
								<br>
								4 days, priced from $1,295. Available on the Jan 24, Feb 21, Mar 14, Oct 8, Oct 10, Oct 17, Nov 8, Nov 10, Nov 21, Dec 19 and Dec 21 departures.
								<br>
								<em>
									Please call  or speak to your travel professional to reserve this special extension with this journey.
								</em>
							</p>
							<p> <strong>Day 1:</strong>
								Fly to Mumbai. On arrival, you are met and transferred to
						your hotel. <strong><em>The Taj Mahal Palace</em></strong> 
								<br>
								<br>
								<strong>Days 2-3:</strong>
								Fly to Aurangabad. Discover the Ajanta Caves, where 24
						monasteries and five temples, embedded in rock in a gorge, contain
						some of the finest Buddhist mural art in the world. These caves date
						as far back as 200 BC. Then, explore the Ellora Caves, which consist
						of temples and monasteries hewn from rock by Buddhist, Hindu
						and Jain craftsmen and monks. More than 2,000 years old, these
						structures have been compared to the Pyramids of Giza for their
						construction.
								<strong><em>Taj Residency | Meals: B</em></strong> 
								<br>
								<br>
								<strong>Day 4:</strong>
								Fly to Mumbai to join the main program.
								<strong>
									<em>Meals: B</em>
								</strong>
								<br>
								<br></p>
							<em></em>
						</dd>
						<dt>Optional Post-tour Extension: Nepal</dt>
						<dd>
							<p>
								Enhance your journey with a post-tour small-group extension.
								<br>
								4 days, priced from $1,395. Available on the Oct 17, Nov 8, Nov 10, Nov 21,Dec 19 and Dec 21 departures.
								<br>
								<em>
									Please call  or speak to your travel professional to reserve this special extension with this journey.
								</em>
							</p>
							<p>
								<strong>Day 1</strong>
								Fly from Delhi to Kathmandu, where you are met and transferred to your heritage hotel, featuring local textiles and intricately carved woodwork. If time permits, explore Kathmandu’s medieval streets, including buildings dating as far back as the 16th century.
								<strong>Dwarika's Hotel</strong>
							</p>
							<p>
								<strong>Day 2</strong>
								Weather permitting, start your day with an optional scenic flight over the Himalaya. Or begin your morning visiting Kathmandu’s main sites, including Durbar Square, Teleju Temple and the House of the Living Goddess. Next, visit Swayambhunath, perched high on a hill overlooking Kathmandu Valley. From here you can see the mighty Himalaya rising above the valley. Journey to nearby Patan, the city of arts and architecture founded in AD 250 and known for its fine works in bronze, silver and copper. Many of these treasures can be seen in the new Patan Museum. Also visit the Tibetan Refugee Camp to watch a demonstration in carpet weaving.
								<strong>Dwarika's Hotel   |   Meals: B</strong>
							</p>
							<p>
								<strong>Day 3</strong>
								Visit Pashupatinath Temple, the most sacred of all Hindu temples, before heading to Boudhanath and joining Tibetan pilgrims for a walk around its Buddhist stupa. Next, drive to Bhaktapur, a town with abundant medieval architecture. As you walk along its cobblestone streets, notice the many ornately carved windows for which the town is famous.
								<strong>Dwarika's Hotel   |   Meals: B</strong>
							</p>
							<p>
								<strong>Day 4</strong>
								Transfer to Kathmandu’s airport and board your onward flight.
								<strong>Meals: B</strong>
							</p>
							<em></em>
						</dd>
					</dl>
				</div>
				<div id="tab3" class="hide tab_item">
					<h2>Dates and Prices</h2>
					<p>Prices are in USD, per person, based on double occupancy.</p>
					<div id="price_departure_box" class="self_clear">
						<div>
							<img src="/images/departure_guarantee_small.gif" width="82" height="27">
							Book with confidence — we guarantee that all small-group journeys will depart as planned.
						</div>
						<div>
							<a href="/legal/price_assurance.cfm">
								<img src="/images/price_assurance_small.gif" width="82" height="27"></a>
							If the price goes down after you book, we will refund the difference — guaranteed.
						</div>
					</div>
					<div id="dates_prices">
						<dl class="expando">
							<dt>
								<table width="100%">
									<thead>
										<tr>
											<th width="162">
												<a name="20130404" href="javascript:void(0);">Apr 04, 2013 - Apr 18, 2013</a>
											</th>
											<th></th>
											<th class="last_child">Call for Availability</th>
										</tr>
									</thead>
								</table>
							</dt>
							<dd class="show">
								<form id="form_392990" class="departure_form" action="https://www.xxx.com/travel/index.cfm?fuseaction=dsp_request_booking&amp;tid=5628" method="post">
									<table>
										<thead>
											<tr>
												<th>&nbsp;</th>
												<th>Price</th>
												<th>Single Supplement</th>
												<th>Internal Air (From)</th>
												<th>Availability</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="width20">
													<label for="packageDateID_392990">
														<input type="radio" name="packageDateID" id="packageDateID_392990" value="392990" disabled="disabled"></label>
												</td>
												<td class="width138">
													<label for="packageDateID_392990">$8,295</label>
												</td>
												<td class="width138">
													<label for="packageDateID_392990">$3,495</label>
												</td>
												<td class="width138">
													<label for="packageDateID_392990">$540</label>
												</td>
												<td class="width116">
													<label for="packageDateID_392990">Call for Availability</label>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="footnotes">
										<ul class="clear_margins clear_list_style base_font_size"></ul>
									</div>
								</form>
							</dd>
							<dt>
								<table width="100%">
									<thead>
										<tr>
											<th width="162">
												<a name="20131008" href="javascript:void(0);">Oct 08, 2013 - Oct 22, 2013</a>
											</th>
											<th></th>
											<th class="last_child">Available</th>
										</tr>
									</thead>
								</table>
							</dt>
							<dd>
								<form id="form_393641" class="departure_form" action="https://www.xxx.com/travel/index.cfm?fuseaction=dsp_request_booking&amp;tid=5628" method="post">
									<table>
										<thead>
											<tr>
												<th>&nbsp;</th>
												<th>Price</th>
												<th>Single Supplement</th>
												<th>Internal Air (From)</th>
												<th>Availability</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="width20">
													<label for="packageDateID_393641">
														<input type="radio" name="packageDateID" id="packageDateID_393641" value="393641"></label>
												</td>
												<td class="width138">
													<label for="packageDateID_393641">$8,295 ^ &lt;&lt;&lt;</label>
												</td>
												<td class="width138">
													<label for="packageDateID_393641">$3,495</label>
												</td>
												<td class="width138">
													<label for="packageDateID_393641">$540</label>
												</td>
												<td class="width116">
													<label for="packageDateID_393641">Available</label>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="footnotes">
										<ul class="clear_margins clear_list_style base_font_size">
											<li>^ Optional pre-tour extension available on this departure.</li>
											<li>
												&lt;&lt;&lt; This property will use an alternate property in Varanasi.
											</li>
										</ul>
									</div>
									<div class="request_booking">
										<span>
											<input type="submit" value="Request Booking"></span>
										<div id="error_form_393641"></div>
										How many people are travelling in your group?
										<input name="group_size" type="text" size="2" maxlength="2"></div>
								</form>
							</dd>
							<dt>
								<table width="100%">
									<thead>
										<tr>
											<th width="162">
												<a name="20131010" href="javascript:void(0);">Oct 10, 2013 - Oct 24, 2013</a>
											</th>
											<th></th>
											<th class="last_child">Limited Availability</th>
										</tr>
									</thead>
								</table>
							</dt>
							<dd>
								<form id="form_388723" class="departure_form" action="https://www.xxx.com/travel/index.cfm?fuseaction=dsp_request_booking&amp;tid=5628" method="post">
									<table>
										<thead>
											<tr>
												<th>&nbsp;</th>
												<th>Price</th>
												<th>Single Supplement</th>
												<th>Internal Air (From)</th>
												<th>Availability</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="width20">
													<label for="packageDateID_388723">
														<input type="radio" name="packageDateID" id="packageDateID_388723" value="388723"></label>
												</td>
												<td class="width138">
													<label for="packageDateID_388723">$8,295 ^</label>
												</td>
												<td class="width138">
													<label for="packageDateID_388723">$3,495</label>
												</td>
												<td class="width138">
													<label for="packageDateID_388723">$540</label>
												</td>
												<td class="width116">
													<label for="packageDateID_388723">Limited Availability</label>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="footnotes">
										<ul class="clear_margins clear_list_style base_font_size">
											<li>^ Optional pre-tour extension available on this departure.</li>
										</ul>
									</div>
									<div class="request_booking">
										<span>
											<input type="submit" value="Request Booking"></span>
										<div id="error_form_388723"></div>
										How many people are travelling in your group?
										<input name="group_size" type="text" size="2" maxlength="2"></div>
								</form>
							</dd>
						</dl>
					</div>
					<p>
						Ask us about booking your international flights at our special preferred rates, arranging pre and post-journey hotel nights and safeguarding your journey with the  Travel Protection Plan.
					</p>
					<p>
						<strong>Take This Journey Private:</strong>
						This itinerary is also available as an independent journey,
						<a href="/travel/?tid=5669">Signature India &amp; the Taj Mahal</a>
						, with  local guides.
					</p>
					<p>
						Enhance your journey with a pre-tour small-group extension to Aurangabad (4 days, from $1,295). Available on the Jan 24, Feb 21, Mar 14, Oct 8, Oct 10, Oct 17, Nov 8, Nov 10, Nov 21, Dec 19 and Dec 21 departures.
					</p>
					<p>
						Enhance your journey with a post-tour small-group extension to Nepal (4 days, priced from $1,395). Available on the Oct 17, Nov 8, Nov 10, Nov 21, Dec 19 and Dec 21 departures.
					</p>
					<p></p>
					<hr>
					<p></p>
					<h3 style="font-weight:normal;">Notes:</h3>
					<p>
						<strong>Child Policy:</strong>
						Minimum age: 10
						<br>
						Mumbai/Udaipur; Khajuraho/Varansai/Delhi (from $540)
						<br></p>
				</div>
				<div id="tab4" class="hide tab_item">
					<h2> Recommends</h2>
					<p>
						Extend your experience with these add-on itineraries. All extensions are priced and ready to book.
					</p>
					<dl id="search_results" class="self_clear line_rule cap_ends">
						<dt>
							<a href="/travel/?tid=5759" title="View the overview for Aurangabad Extension">Aurangabad Extension</a>
						</dt>
						<dd>
							<div class="trip_overview">
								<div class="self_clear">
									<a href="/travel/?tid=5759" title="View the overview for Aurangabad Extension">
										<img src="/images/aurangabad_extension.jpg" alt="View details for Aurangabad Extension" title="View details for Aurangabad Extension" width="125" height="125"></a>
									<ul class="link_list self_clear clear_list_style">
										<li>
											<a class="icon swirl_arrow" href="/travel/?tid=5759" title="View the overview for Aurangabad Extension">Overview</a>
										</li>
										<li>
											<a class="icon notebook" href="/travel/?tid=5759&amp;fuseaction=dsp_itinerary" title="View the itinerary for Aurangabad Extension">Itinerary</a>
										</li>
										<li>
											<a class="icon dates" href="/travel/?tid=5759&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Aurangabad Extension">Dates &amp; Prices</a>
										</li>
										<li style="margin-top:2px;">
											<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5759">
											<p class="clear_margins float_left 	compare_link">Compare</p>
										</li>
									</ul>
									<ul class="align_edges line_rule clear_margins">
										<li>
											<span>
												<a class="icon extensions amp" href="javascript:void(0);" onclick="getSeriesOverlay('28')" title="Extension">Extension</a>
											</span>
											Series:
										</li>
										<li>
											<span>$1,295</span>
											Priced From:
										</li>
										<li>
											<span>4</span>
											Days:
										</li>
										<li>
											<span>On Request</span>
											Departures:
										</li>
										<li>
											<span>N/A</span>
											Max Group Size:
										</li>
									</ul>
								</div>
							</div>
						</dd>
						<dt>
							<a href="/travel/?tid=5659" title="View the overview for Bhutan Extension">Bhutan Extension</a>
						</dt>
						<dd>
							<div class="trip_overview">
								<div class="self_clear">
									<a href="/travel/?tid=5659" title="View the overview for Bhutan Extension">
										<img src="/images/bhutan_extension.jpg" alt="View details for Bhutan Extension" title="View details for Bhutan Extension" width="125" height="125"></a>
									<ul class="link_list self_clear clear_list_style">
										<li>
											<a class="icon swirl_arrow" href="/travel/?tid=5659" title="View the overview for Bhutan Extension">Overview</a>
										</li>
										<li>
											<a class="icon notebook" href="/travel/?tid=5659&amp;fuseaction=dsp_itinerary" title="View the itinerary for Bhutan Extension">Itinerary</a>
										</li>
										<li>
											<a class="icon dates" href="/travel/?tid=5659&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Bhutan Extension">Dates &amp; Prices</a>
										</li>
										<li style="margin-top:2px;">
											<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5659">
											<p class="clear_margins float_left 	compare_link">Compare</p>
										</li>
									</ul>
									<ul class="align_edges line_rule clear_margins">
										<li>
											<span>
												<a class="icon extensions amp" href="javascript:void(0);" onclick="getSeriesOverlay('28')" title="Extension">Extension</a>
											</span>
											Series:
										</li>
										<li>
											<span>$4,295</span>
											Priced From:
										</li>
										<li>
											<span>4</span>
											Days:
										</li>
										<li>
											<span>On Request</span>
											Departures:
										</li>
										<li>
											<span>N/A</span>
											Max Group Size:
										</li>
									</ul>
								</div>
							</div>
						</dd>
						<dt>
							<a href="/travel/?tid=5662" title="View the overview for Kerala Extension">Kerala Extension</a>
						</dt>
						<dd>
							<div class="trip_overview">
								<div class="self_clear">
									<a href="/travel/?tid=5662" title="View the overview for Kerala Extension">
										<img src="/images/kerala-extension-1.jpg" alt="View details for Kerala Extension" title="View details for Kerala Extension" width="125" height="125"></a>
									<ul class="link_list self_clear clear_list_style">
										<li>
											<a class="icon swirl_arrow" href="/travel/?tid=5662" title="View the overview for Kerala Extension">Overview</a>
										</li>
										<li>
											<a class="icon notebook" href="/travel/?tid=5662&amp;fuseaction=dsp_itinerary" title="View the itinerary for Kerala Extension">Itinerary</a>
										</li>
										<li>
											<a class="icon dates" href="/travel/?tid=5662&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Kerala Extension">Dates &amp; Prices</a>
										</li>
										<li style="margin-top:2px;">
											<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5662">
											<p class="clear_margins float_left 	compare_link">Compare</p>
										</li>
									</ul>
									<ul class="align_edges line_rule clear_margins">
										<li>
											<span>
												<a class="icon extensions amp" href="javascript:void(0);" onclick="getSeriesOverlay('28')" title="Extension">Extension</a>
											</span>
											Series:
										</li>
										<li>
											<span>$1,595</span>
											Priced From:
										</li>
										<li>
											<span>5</span>
											Days:
										</li>
										<li>
											<span>On Request</span>
											Departures:
										</li>
										<li>
											<span>N/A</span>
											Max Group Size:
										</li>
									</ul>
								</div>
							</div>
						</dd>
						<dt>
							<a href="/travel/?tid=5658" title="View the overview for Nepal Extension">Nepal Extension</a>
						</dt>
						<dd>
							<div class="trip_overview">
								<div class="self_clear">
									<a href="/travel/?tid=5658" title="View the overview for Nepal Extension">
										<img src="/images/nepal_extension.jpg" alt="View details for Nepal Extension" title="View details for Nepal Extension" width="125" height="125"></a>
									<ul class="link_list self_clear clear_list_style">
										<li>
											<a class="icon swirl_arrow" href="/travel/?tid=5658" title="View the overview for Nepal Extension">Overview</a>
										</li>
										<li>
											<a class="icon notebook" href="/travel/?tid=5658&amp;fuseaction=dsp_itinerary" title="View the itinerary for Nepal Extension">Itinerary</a>
										</li>
										<li>
											<a class="icon dates" href="/travel/?tid=5658&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Nepal Extension">Dates &amp; Prices</a>
										</li>
										<li style="margin-top:2px;">
											<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5658">
											<p class="clear_margins float_left 	compare_link">Compare</p>
										</li>
									</ul>
									<ul class="align_edges line_rule clear_margins">
										<li>
											<span>
												<a class="icon extensions amp" href="javascript:void(0);" onclick="getSeriesOverlay('28')" title="Extension">Extension</a>
											</span>
											Series:
										</li>
										<li>
											<span>$1,495</span>
											Priced From:
										</li>
										<li>
											<span>4</span>
											Days:
										</li>
										<li>
											<span>On Request</span>
											Departures:
										</li>
										<li>
											<span>N/A</span>
											Max Group Size:
										</li>
									</ul>
								</div>
							</div>
						</dd>
					</dl>
					<div id="customize_trip">
						<h3 class="clear_margins">Extend Your Stay</h3>
						<p></p>
						<p class="clear_margins">
							See all  Extensions.&nbsp;&nbsp;
							<a class="icon swirl_arrow" href="/search.cfm?new_search=1&amp;tif=705&amp;scp=1">View all</a>
						</p>
					</div>
				</div>
				<div id="tab5" class="hide tab_item">
					<div style="width:80%">
						<div class="self-clear">
							<p id="requiredText">
								Required <em>*</em>
							</p>
						</div>
						<form action="/travel/?fuseaction=act_question&amp;tid=5628" id="faq_form" method="post" name="faq_form" class="uniForm">
							<fieldset class="inlineLabels">
								<h3>Your Information</h3>
								<div id="ctrlHolder_contact_preference" class="ctrlHolder borderTop">
									<p class="errorFieldHide" id="contact_preference_err"></p>
									<p class="label ">Preferred method of contact</p>
									<label for="contact_preference-1" class="inlineLabel">
										<input name="contact_preference" id="contact_preference-1" type="radio" value="Email" checked="checked" class="" tabindex="1">Email</label>
									<label for="contact_preference-2" class="inlineLabel">
										<input name="contact_preference" id="contact_preference-2" type="radio" value="Daytime Phone" class="" tabindex="1">Daytime Phone</label>
								</div>
								<div id="ctrlHolder_email" class="ctrlHolder">
									<p class="errorFieldHide" id="email_err">Enter a valid email address</p>
									<label for="email" class="required"> <em>*</em>
										Email Address
									</label>
									<input name="email" id="email" value="" size="30" type="text" class="required email" tabindex="2">					
									<p class="formHint">(one address)</p>
								</div>
								<div id="ctrlHolder_title" class="ctrlHolder">
									<p class="errorFieldHide" id="title_err">Select your title</p>
									<label for="title" class="required">
										<em>*</em>
										Title
									</label>
									<select name="title" id="title" class="required" tabindex="3">
										<option value="0">Select a Title</option>
										<option value="153">Mr.</option>
										<option value="154">Mrs.</option>
										<option value="155">Ms.</option>
										<option value="157">Dr.</option>
									</select>
								</div>
								<div id="ctrlHolder_firstName" class="ctrlHolder">
									<p class="errorFieldHide" id="firstName_err">Enter your first name</p>
									<label for="firstName" class="required">
										<em>*</em>
										First Name
									</label>
									<input name="firstName" id="firstName" value="" size="30" type="text" class="required" tabindex="4">					
									<p class="formHint">(as printed on Passport)</p>
								</div>
								<div id="ctrlHolder_lastName" class="ctrlHolder">
									<p class="errorFieldHide" id="lastName_err">Enter your last name</p>
									<label for="lastName" class="required">
										<em>*</em>
										Last Name
									</label>
									<input name="lastName" id="lastName" value="" size="30" type="text" class="required" tabindex="5">					
									<p class="formHint">(as printed on Passport)</p>
								</div>
								<div id="ctrlHolder_country" class="ctrlHolder">
									<p class="errorFieldHide" id="country_err">Select a country</p>
									<label for="country" class="required">
										<em>*</em>
										Country
									</label>
									<select name="country" id="country" class="required" tabindex="6">
										<option value="0">Select a Country</option>
										<option value="226">United States</option>
										<option value="1">Afghanistan</option>
										<option value="2">Albania</option>
										<option value="3">Algeria</option>
										<option value="4">American Samoa</option>
										<option value="5">Andorra</option>
										<option value="6">Angola</option>
										<option value="7">Anguilla</option>
										<option value="8">Antarctica</option>
										<option value="9">Antigua and Barbuda</option>
										<option value="245">Arctic</option>
										<option value="10">Argentina</option>
										<option value="11">Armenia</option>
										<option value="12">Aruba</option>
										<option value="13">Australia</option>
										<option value="14">Austria</option>
										<option value="15">Azerbaijan</option>
										<option value="16">Bahamas</option>
										<option value="17">Bahrain</option>
										<option value="18">Bangladesh</option>
										<option value="19">Barbados</option>
										<option value="20">Belarus</option>
										<option value="21">Belgium</option>
										<option value="22">Belize</option>
										<option value="23">Benin</option>
										<option value="24">Bermuda</option>
										<option value="25">Bhutan</option>
										<option value="26">Bolivia</option>
										<option value="27">Bosnia and Herzegovina</option>
										<option value="28">Botswana</option>
										<option value="29">Bouvet Island</option>
										<option value="30">Brazil</option>
										<option value="31">British Indian Ocean Territory</option>
										<option value="32">Brunei Darussalam</option>
										<option value="33">Bulgaria</option>
										<option value="34">Burkina Faso</option>
										<option value="35">Burundi</option>
										<option value="36">Cambodia</option>
										<option value="37">Cameroon</option>
										<option value="38">Canada</option>
										<option value="39">Cape Verde</option>
										<option value="40">Cayman Islands</option>
										<option value="41">Central African Republic</option>
										<option value="42">Chad</option>
										<option value="43">Chile</option>
										<option value="44" selected="selected">China</option>
										<option value="45">Christmas Island</option>
										<option value="46">Cocos (Keeling) Islands</option>
										<option value="47">Colombia</option>
										<option value="48">Comoros</option>
										<option value="49">Congo</option>
										<option value="50">Congo, the Democratic Republic of the</option>
										<option value="51">Cook Islands</option>
										<option value="52">Costa Rica</option>
										<option value="53">Cote D'Ivoire</option>
										<option value="54">Croatia</option>
										<option value="55">Cuba</option>
										<option value="56">Cyprus</option>
										<option value="57">Czech Republic</option>
										<option value="58">Denmark</option>
										<option value="59">Djibouti</option>
										<option value="60">Dominica</option>
										<option value="61">Dominican Republic</option>
										<option value="62">Ecuador &amp; Galápagos</option>
										<option value="63">Egypt</option>
										<option value="64">El Salvador</option>
										<option value="65">Equatorial Guinea</option>
										<option value="66">Eritrea</option>
										<option value="67">Estonia</option>
										<option value="68">Ethiopia</option>
										<option value="69">Falkland Islands (Malvinas)</option>
										<option value="70">Faroe Islands</option>
										<option value="71">Fiji</option>
										<option value="72">Finland</option>
										<option value="73">France</option>
										<option value="74">French Guiana</option>
										<option value="75">French Polynesia</option>
										<option value="76">French Southern Territories</option>
										<option value="77">Gabon</option>
										<option value="78">Gambia</option>
										<option value="79">Georgia</option>
										<option value="80">Germany</option>
										<option value="81">Ghana</option>
										<option value="82">Gibraltar</option>
										<option value="83">Greece</option>
										<option value="84">Greenland</option>
										<option value="85">Grenada</option>
										<option value="86">Guadeloupe</option>
										<option value="87">Guam</option>
										<option value="88">Guatemala</option>
										<option value="89">Guinea</option>
										<option value="90">Guinea-Bissau</option>
										<option value="91">Guyana</option>
										<option value="92">Haiti</option>
										<option value="93">Heard Island and McDonald Islands</option>
										<option value="94">Holy See (Vatican City State)</option>
										<option value="95">Honduras</option>
										<option value="96">Hong Kong</option>
										<option value="97">Hungary</option>
										<option value="98">Iceland</option>
										<option value="99">India</option>
										<option value="100">Indonesia</option>
										<option value="101">Iran</option>
										<option value="102">Iraq</option>
										<option value="103">Ireland</option>
										<option value="104">Israel</option>
										<option value="105">Italy</option>
										<option value="106">Jamaica</option>
										<option value="107">Japan</option>
										<option value="108">Jordan</option>
										<option value="109">Kazakhstan</option>
										<option value="110">Kenya</option>
										<option value="111">Kiribati</option>
										<option value="114">Kuwait</option>
										<option value="115">Kyrgyzstan</option>
										<option value="116">Laos</option>
										<option value="117">Latvia</option>
										<option value="118">Lebanon</option>
										<option value="119">Lesotho</option>
										<option value="120">Liberia</option>
										<option value="121">Libya</option>
										<option value="122">Liechtenstein</option>
										<option value="123">Lithuania</option>
										<option value="124">Luxembourg</option>
										<option value="125">Macau</option>
										<option value="126">Macedonia</option>
										<option value="127">Madagascar</option>
										<option value="128">Malawi</option>
										<option value="129">Malaysia</option>
										<option value="130">Maldives</option>
										<option value="131">Mali</option>
										<option value="132">Malta</option>
										<option value="133">Marshall Islands</option>
										<option value="134">Martinique</option>
										<option value="135">Mauritania</option>
										<option value="136">Mauritius</option>
										<option value="137">Mayotte</option>
										<option value="138">Mexico</option>
										<option value="139">Micronesia, Federated States of</option>
										<option value="140">Moldova</option>
										<option value="141">Monaco</option>
										<option value="142">Mongolia</option>
										<option value="143">Montserrat</option>
										<option value="144">Morocco</option>
										<option value="145">Mozambique</option>
										<option value="146">Myanmar (Burma)</option>
										<option value="147">Namibia</option>
										<option value="148">Nauru</option>
										<option value="149">Nepal</option>
										<option value="150">Netherlands</option>
										<option value="151">Netherlands Antilles</option>
										<option value="152">New Caledonia</option>
										<option value="153">New Zealand</option>
										<option value="154">Nicaragua</option>
										<option value="155">Niger</option>
										<option value="156">Nigeria</option>
										<option value="157">Niue</option>
										<option value="158">Norfolk Island</option>
										<option value="112">North Korea</option>
										<option value="159">Northern Mariana Islands</option>
										<option value="160">Norway</option>
										<option value="161">Oman</option>
										<option value="162">Pakistan</option>
										<option value="163">Palau</option>
										<option value="165">Panama</option>
										<option value="166">Papua New Guinea</option>
										<option value="167">Paraguay</option>
										<option value="168">Peru</option>
										<option value="169">Philippines</option>
										<option value="170">Pitcairn Islands</option>
										<option value="171">Poland</option>
										<option value="172">Portugal</option>
										<option value="174">Qatar</option>
										<option value="175">Reunion</option>
										<option value="176">Romania</option>
										<option value="177">Russia</option>
										<option value="178">Rwanda</option>
										<option value="179">Saint Helena</option>
										<option value="180">Saint Kitts and Nevis</option>
										<option value="181">Saint Lucia</option>
										<option value="182">Saint Pierre and Miquelon</option>
										<option value="183">Saint Vincent and the Grenadines</option>
										<option value="184">Samoa</option>
										<option value="185">San Marino</option>
										<option value="186">Sao Tome and Principe</option>
										<option value="187">Saudi Arabia</option>
										<option value="188">Senegal</option>
										<option value="190">Seychelles</option>
										<option value="191">Sierra Leone</option>
										<option value="192">Singapore</option>
										<option value="193">Slovakia</option>
										<option value="194">Slovenia</option>
										<option value="195">Solomon Islands</option>
										<option value="196">Somalia</option>
										<option value="197">South Africa</option>
										<option value="198">South Georgia and the South Sandwich Islands</option>
										<option value="113">South Korea</option>
										<option value="199">Spain</option>
										<option value="200">Sri Lanka</option>
										<option value="201">Sudan</option>
										<option value="202">Suriname</option>
										<option value="203">Svalbard and Jan Mayen</option>
										<option value="204">Swaziland</option>
										<option value="205">Sweden</option>
										<option value="206">Switzerland</option>
										<option value="207">Syria</option>
										<option value="208">Taiwan</option>
										<option value="209">Tajikistan</option>
										<option value="210">Tanzania</option>
										<option value="211">Thailand</option>
										<option value="213">Togo</option>
										<option value="214">Tokelau</option>
										<option value="215">Tonga</option>
										<option value="216">Trinidad and Tobago</option>
										<option value="217">Tunisia</option>
										<option value="218">Turkey</option>
										<option value="219">Turkmenistan</option>
										<option value="220">Turks and Caicos Islands</option>
										<option value="221">Tuvalu</option>
										<option value="222">Uganda</option>
										<option value="223">Ukraine</option>
										<option value="224">United Arab Emirates</option>
										<option value="225">United Kingdom</option>
										<option value="227">United States Minor Outlying Islands</option>
										<option value="228">Uruguay</option>
										<option value="229">Uzbekistan</option>
										<option value="230">Vanuatu</option>
										<option value="231">Venezuela</option>
										<option value="232">Vietnam</option>
										<option value="233">Virgin Islands, British</option>
										<option value="234">Virgin Islands, U.S.</option>
										<option value="235">Wallis and Futuna</option>
										<option value="236">Western Sahara</option>
										<option value="237">Yemen</option>
										<option value="238">Zambia</option>
										<option value="239">Zimbabwe</option>
									</select>
								</div>
								<div id="ctrlHolder_workphone" class="ctrlHolder">
									<p class="errorFieldHide" id="workphone_err"></p>
									<label for="workphone" class="">Daytime Phone</label>
									<input name="workphone" id="workphone" value="" size="30" type="text" class="" tabindex="7">					
									<p class="formHint">(ex. 2345678901)</p>
								</div>
								<div id="ctrlHolder_extension" class="ctrlHolder">
									<p class="errorFieldHide" id="extension_err"></p>
									<label for="extension" class="">Extension</label>
									<input name="extension" id="extension" value="" size="15" type="text" class="" tabindex="8"></div>
								<div id="ctrlHolder_question" class="ctrlHolder">
									<p class="errorFieldHide" id="question_err">Ask your question here:</p>
									<label for="question" class="required">
										<em>*</em>
										Your Question
									</label>
									<textarea name="question" id="question" rows="7" cols="60" class="required textInput" tabindex="9"></textarea>
								</div>
								<input name="submitid" id="submitid" value="1" type="hidden">					
								<input name="category" id="category" value="20" type="hidden">					
								<input name="product" id="product" value="15" type="hidden">					
								<input name="package" id="package" value="5628" type="hidden"></fieldset>
							<div class="buttonHolder">
								<input type="submit" name="submit_btn" id="submit_btn" value="Submit Your Question" class="uniFormButton" onclick="" tabindex="10"></div>
						</form>
					</div>
				</div>
				<!-- TRIP NAVIGATION BOTTOM -->
			</div>
		</div>