<div class="row">
<h3>后台管理 > 编辑gbookingday <div class="pull-right"><%= link_to '查看', [:admin, @gbookingday] %> |
<%= link_to '返回列表', admin_gbookingdays_path %></div></h3>
<hr>

<%= render 'form' %>

</div>