<div class="row">
<h3>后台管理 > 编辑itinerary <div class="pull-right"><%= link_to '查看', [:admin, @travel, @itinerary] %> |
<%= link_to '返回列表', admin_travel_itineraries_path(@travel) %></div></h3>
<hr>

<%= render 'form' %>

</div>
