<div class="row">
<h3>后台管理 > 编辑brochure_travel <div class="pull-right"><%= link_to '查看', [:admin, @brochure_travel] %> |
<%= link_to '返回列表', admin_brochure_travels_path %></div></h3>
<hr>

<%= render 'form' %>

</div>