<div class="row">
<h3>后台管理 > 编辑customizebooking <div class="pull-right"><%= link_to '查看', [:admin, @customizebooking] %> |
<%= link_to '返回列表', admin_customizebookings_path %></div></h3>
<hr>

<%= render 'form' %>

</div>