<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
    <li>
        <a href="/">首页</a>
        &nbsp;&nbsp;/&nbsp;&nbsp;
    </li>
    <li>旅游目的地</li>
</ul>
<div class="self_clear">
    <div id="secondary_content" class="hide_from_print">
        <div id="cs_control_3131" class="">
            <div class="CS_Element_Schedule" title="" id="CS_Element_contentleft">
                <a name="custom12103" id="custom12103"></a>
                <a name="CP_JUMP_12103" id="CP_JUMP_12103"></a>
                <div id="cs_control_12103" class="cs_control CS_Element_Custom">
                    <div class="hl3">旅游目的地导航</div>
                    <!-- OHSU Nav -->
                    <ul class="section cspot_nav">
                        <% @destinations.each do |destination| %>
                            <% if destination.is_root?  %>
                                <li class="icon <%= destination.has_children? ?  'expando_hide' : 'bullet_arrow' %>">
                                    <a href="/destinations/<%= destination.id %>/"><%= destination.name %></a>
                                </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
                <a name="customcf4702" id="customcf4702"></a>
                <a name="CP_JUMP_4702" id="CP_JUMP_4702"></a>
                <div id="cs_control_4702" class="cs_control CS_Element_CustomCF">
                    <div id="CS_CCF_9533_4702">
                        <div class="end_cap"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dMainFBContest"></div>
    </div>
    <div id="primary_content" class="align_edges">
        <div id="cs_control_1329" class="">
            <div class="CS_Element_Schedule" title="" id="CS_Element_content">
                <a name="textblocknohdr8504" id="textblocknohdr8504"></a>
                <a name="CP_JUMP_8504" id="CP_JUMP_8504"></a>
                <div id="cs_control_8504" class="cs_control CS_Element_Textblock">
                    <div class="CS_Textblock_Text">
                        <h1>旅游目的地</h1>
                    </div>
                </div>
                <div id="cs_control_16423" class="cs_control CS_Element_CustomCF">
                    <div id="CS_CCF_9533_16423">
                        <embed width="715" height="400" src="/flashmap/travel_destinations.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" align="middle" play="true" loop="true" scale="showall" wmode="transparent" devicefont="false" bgcolor="#ffffff" name="travel_destinations" menu="true" allowfullscreen="false" allowscriptaccess="sameDomain" salign="" type="application/x-shockwave-flash">
                        <br>
                        <br></div>
                </div>
                <a name="custom13366" id="custom13366"></a>
                <a name="CP_JUMP_13366" id="CP_JUMP_13366"></a>
                <div id="cs_control_13366" class="cs_control CS_Element_Custom">
                    <h4 class="rounded_btn">
                        <a class="icon search" title="See all Journeys" href="/search">查看我们所有的旅游线路</a>
                    </h4>
                </div>
                <a name="textblocknohdr12180" id="textblocknohdr12180"></a>
                <a name="CP_JUMP_12180" id="CP_JUMP_12180"></a>
                
                <div id="cs_control_17721" class="cs_control CS_Element_CustomCF">
                    <div id="CS_CCF_9533_17721">
                        <!-- META DATA BEGIN -->
                        <!-- META DATA END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>